/*font-family: 'Roboto Condensed', sans-serif; */
/*font-family: 'Oswald', sans-serif; */
/* line 5, ../scss/cff.scss */
.section.img-wrap {
  margin-top: -50px;
}

/* line 9, ../scss/cff.scss */
.nav {
  width: 80%;
  margin: 0 auto;
}
/* line 12, ../scss/cff.scss */
.nav ul {
  float: right;
  width: 100%;
  display: table-cell;
  margin-top: 10px;
  margin-bottom: 25px;
}
/* line 19, ../scss/cff.scss */
.nav li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}
/* line 24, ../scss/cff.scss */
.nav a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}
/* line 32, ../scss/cff.scss */
.nav img {
  float: left;
  width: 10%;
  max-width: 200px;
  height: 100%;
  display: table-cell;
  line-height: 0;
}

/* line 42, ../scss/cff.scss */
#restofheader {
  display: none;
}

/* line 46, ../scss/cff.scss */
.col div {
  float: none;
  width: 100%;
  margin-top: 70px;
}
/* line 50, ../scss/cff.scss */
.col div img {
  width: 80%;
  margin-bottom: 30px;
}

/* line 56, ../scss/cff.scss */
#logo {
  display: table-cell;
  line-height: 0;
  width: 15%;
  background-color: black;
  max-width: 10px;
  max-height: 50px;
}

/* line 64, ../scss/cff.scss */
#logo img {
  width: 100%;
  height: auto;
  max-height: 40px;
}

/* line 70, ../scss/cff.scss */
header {
  max-height: 60px;
  background-color: white;
}

/* line 77, ../scss/cff.scss */
.img-wrap {
  background-size: contain;
  background: url("../conquest-img/kidtry2.png") no-repeat center center;
  height: auto;
  width: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  min-height: 600px;
  margin-top: -20px;
  border: outset;
  margin-top: -50px;
}
/* line 90, ../scss/cff.scss */
.img-wrap img {
  width: 100%;
}
/* line 94, ../scss/cff.scss */
.img-wrap button {
  text-align: center;
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* line 106, ../scss/cff.scss */
.img-wrap button:hover {
  background-color: white;
  color: black;
}

/* line 111, ../scss/cff.scss */
.img-color {
  background-color: gray;
}
/* line 113, ../scss/cff.scss */
.img-color p {
  color: white;
  line-height: 31px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 22px;
}
/* line 120, ../scss/cff.scss */
.img-color h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  line-height: 36px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin-top: 0px;
}

/* line 132, ../scss/cff.scss */
.span_2_of_2 {
  width: 100%;
}

/* line 135, ../scss/cff.scss */
.span_1_of_2 {
  width: 48%;
}

/* line 140, ../scss/cff.scss */
.prog h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}
/* line 146, ../scss/cff.scss */
.prog p {
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 150, ../scss/cff.scss */
.prog img {
  width: 100%;
}

/*  SECTIONS  */
/* line 156, ../scss/cff.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 162, ../scss/cff.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 4.0%;
}

/* line 167, ../scss/cff.scss */
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 169, ../scss/cff.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 171, ../scss/cff.scss */
.group:after {
  clear: both;
}

/* line 172, ../scss/cff.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF THREE  */
/* line 174, ../scss/cff.scss */
.span_3_of_3 {
  width: 100%;
}

/* line 175, ../scss/cff.scss */
.span_2_of_3 {
  width: 65.33%;
}

/* line 176, ../scss/cff.scss */
.span_1_of_3 {
  width: 30.66%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 179, ../scss/cff.scss */
  .col {
    margin: 1% 0 1% 0%;
  }

  /* line 180, ../scss/cff.scss */
  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }

  /* line 181, ../scss/cff.scss */
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }
}
/* line 183, ../scss/cff.scss */
.row2 {
  padding: 2em;
}

/* line 186, ../scss/cff.scss */
.row1 {
  padding: 2em;
}

@media (min-width: 650px) {
  /* line 192, ../scss/cff.scss */
  .section.img-wrap {
    margin-top: -0px;
  }

  /* line 198, ../scss/cff.scss */
  #logo {
    display: table-cell;
    line-height: 0;
    width: 15%;
    background-color: black;
    max-width: 10px;
    max-height: 50px;
  }

  /* line 206, ../scss/cff.scss */
  #logo img {
    width: 100%;
    height: auto;
    max-height: 40px;
  }

  /* line 211, ../scss/cff.scss */
  #restofheader {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 130px;
  }

  /* line 217, ../scss/cff.scss */
  .nav {
    width: 80%;
    margin: 0 auto;
  }
  /* line 220, ../scss/cff.scss */
  .nav ul {
    float: right;
    width: 100%;
    display: table-cell;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  /* line 227, ../scss/cff.scss */
  .nav li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
  }
  /* line 232, ../scss/cff.scss */
  .nav a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
  }
  /* line 240, ../scss/cff.scss */
  .nav img {
    float: left;
    width: 10%;
    max-width: 200px;
    height: 100%;
    display: table-cell;
    line-height: 0;
  }

  /* line 249, ../scss/cff.scss */
  .img-wrap {
    background-size: cover;
    background: url("../conquest-img/kidtry2.png") no-repeat center center;
    height: auto;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    min-height: 500px;
    margin-top: -20px;
    border: outset;
    text-align: center;
  }
  /* line 262, ../scss/cff.scss */
  .img-wrap button {
    text-align: center;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
}
/*end of 680 */
@media (min-width: 800px) {
  /* line 276, ../scss/cff.scss */
  .row1 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 280, ../scss/cff.scss */
  .row2 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 284, ../scss/cff.scss */
  .col div {
    float: right;
    width: 100%;
    margin-top: 70px;
  }
  /* line 288, ../scss/cff.scss */
  .col div img {
    width: 80%;
    margin-bottom: 30px;
  }

  /* line 294, ../scss/cff.scss */
  #restofheader {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 100px;
  }
}
/*end of 880 */
@media (min-width: 1000px) {
  /* line 306, ../scss/cff.scss */
  #restofheader {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 150px;
  }
}
