/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 3, ../scss/conquest.scss */
.clearfix {
  zoom: 1;
}
/* line 5, ../scss/conquest.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/conquest.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
@font-face {
  font-family: din-condensed-Black;
  src: url("../fonts/din-pro-cond/DINPro-Black.otf");
}
@font-face {
  font-family: din-condensed-bold;
  src: url("../fonts/din-pro-cond/DINPro-CondBold.otf");
}
@font-face {
  font-family: din-condensed;
  src: url("../fonts/din-pro-cond/DINPRO-Cond.otf");
}
/* line 37, ../scss/conquest.scss */
.nav-beer {
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 46, ../scss/conquest.scss */
.nav-beer li {
  list-style-type: none;
}
/* line 50, ../scss/conquest.scss */
.nav-beer a {
  text-decoration: none;
}

/* line 58, ../scss/conquest.scss */
.image_a {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 67, ../scss/conquest.scss */
.fade.in {
  display: block;
}

/* line 71, ../scss/conquest.scss */
.my-knight {
  max-height: 300px;
}

/* line 77, ../scss/conquest.scss */
.beer-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 82, ../scss/conquest.scss */
.beer-box h3 {
  font-size: 36px;
  font-family: din-condensed-Black;
  font-weight: 700;
  border-bottom: 5px solid;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 93, ../scss/conquest.scss */
.beer-box li {
  list-style-type: none;
  text-align: center;
}

/* line 102, ../scss/conquest.scss */
.beer-rack {
  width: 45%;
  float: left;
}

/* line 106, ../scss/conquest.scss */
.beer-rack-right {
  width: 45%;
  float: right;
}

/* line 112, ../scss/conquest.scss */
.container p {
  color: white;
  display: block;
}
/* line 116, ../scss/conquest.scss */
.container h1 {
  color: white;
  display: block;
}

/* line 122, ../scss/conquest.scss */
.product-image {
  width: 25%;
}

/* line 126, ../scss/conquest.scss */
.panel {
  background-color: black;
  margin-top: 55px;
}
/* line 129, ../scss/conquest.scss */
.panel a {
  color: white;
}

/* line 135, ../scss/conquest.scss */
.top-box {
  background-color: black;
}

/* line 139, ../scss/conquest.scss */
.second-nav {
  display: none;
}

/* line 143, ../scss/conquest.scss */
.sidebar {
  background-color: black;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 148, ../scss/conquest.scss */
.sidebar img {
  width: 45%;
  float: left;
}
/* line 152, ../scss/conquest.scss */
.sidebar .menu-link {
  float: right;
  color: white;
}

/* line 157, ../scss/conquest.scss */
.beer-rack > .beer-talk {
  width: 259px;
  color: blue;
  position: absolute;
  margin-left: 30px;
  bottom: 100;
  z-index: 1000;
  margin-top: 350px;
}

/* line 168, ../scss/conquest.scss */
.beer-row-2 {
  width: 100%;
}

/* line 172, ../scss/conquest.scss */
#beers-season p {
  color: black;
}

/* line 178, ../scss/conquest.scss */
#beers-season {
  padding-top: 20px;
  width: 100%;
  height: 880px;
  background-size: cover;
  margin-top: -30px;
  background-color: white;
  background: url("../conquest-img/bggray.png") no-repeat center center;
}

/* line 189, ../scss/conquest.scss */
.beer-rack img {
  position: relative;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  width: 80%;
  margin-bottom: 10px;
  float: left;
}

/* line 202, ../scss/conquest.scss */
.beer-1 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 217, ../scss/conquest.scss */
.beer-2 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 232, ../scss/conquest.scss */
.beer-3 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 247, ../scss/conquest.scss */
.beer-1 a {
  position: absolute;
  color: white;
}

/* line 251, ../scss/conquest.scss */
.beer-2 a {
  position: absolute;
  color: white;
}

/* line 255, ../scss/conquest.scss */
.beer-3 a {
  position: absolute;
  color: white;
}

/* line 259, ../scss/conquest.scss */
#beers div {
  height: 100%;
  width: 33.3%;
  float: left;
  position: relative;
}

/* line 265, ../scss/conquest.scss */
#beers img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 273, ../scss/conquest.scss */
.practice-nav a {
  text-decoration: none;
}
/* line 276, ../scss/conquest.scss */
.practice-nav li {
  list-style-type: none;
}

/* line 280, ../scss/conquest.scss */
.special1 > .sidebar {
  margin-left: 40px;
}

/* line 283, ../scss/conquest.scss */
.tab-content {
  float: none;
  width: 100;
}

/* line 288, ../scss/conquest.scss */
#menu2 {
  width: 100%;
}

/* line 291, ../scss/conquest.scss */
.sidebar, .special a {
  margin: 0;
}

/* line 294, ../scss/conquest.scss */
#menu1 {
  float: right;
  top: 0;
  bottom: 0;
  width: 78%;
  right: 0;
  height: 100%;
  height: 650px;
  position: absolute;
  z-index: 1000;
}

/* line 307, ../scss/conquest.scss */
.left-1 {
  background-color: blue;
  width: 33.3%;
  height: 650px;
  float: left;
}

/* line 313, ../scss/conquest.scss */
.left-1 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 318, ../scss/conquest.scss */
.left-2 {
  background-color: green;
  height: 650px;
  width: 33.3%;
  float: left;
}

/* line 325, ../scss/conquest.scss */
.left-2 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 330, ../scss/conquest.scss */
.left-3 {
  background-color: yellow;
  height: 650px;
  width: 33.3%;
  float: right;
}

/* line 337, ../scss/conquest.scss */
.left-3 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
  margin-left: -1px;
}

/* line 343, ../scss/conquest.scss */
.div7 > .taste {
  width: 60%;
  height: 15%;
  position: absolute;
  z-index: 100;
  margin-top: -268px;
  margin-left: 50px;
}

/* line 351, ../scss/conquest.scss */
.div4 > .conquer-me {
  width: 25%;
  height: 25%;
}

/* line 355, ../scss/conquest.scss */
.div2 > .hist9 {
  width: 50%;
  height: 30%;
  margin-left: 52px;
  margin-top: 100px;
  position: absolute;
}

/* line 362, ../scss/conquest.scss */
.div2 > .history1 {
  width: 50%;
  margin: 0 auto;
  height: 30%;
}

/* line 367, ../scss/conquest.scss */
.beers {
  height: 650px;
}

/* line 370, ../scss/conquest.scss */
.beer-holder {
  width: 45%;
  float: left;
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  height: 100%;
}

/* line 376, ../scss/conquest.scss */
.div4 > .beers-pic {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60%;
  height: 14%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 386, ../scss/conquest.scss */
.div6 > .findus {
  display: block;
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 20%;
  text-align: center;
  margin-top: 20%;
  margin-left: 20%;
}

/* line 396, ../scss/conquest.scss */
.div2 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 406, ../scss/conquest.scss */
.div6 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 417, ../scss/conquest.scss */
.row > .seasonal, .year-round, .imperials {
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  text-align: center;
  margin-top: -14px;
  background-size: cover;
}

/* line 430, ../scss/conquest.scss */
.sidebar {
  display: none;
}

@media screen and (min-width: 650px) {
  /* line 437, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 200px;
  }

  /* line 451, ../scss/conquest.scss */
  .div2 > .hist9 {
    width: 50%;
    height: 30%;
    margin-left: 52px;
    margin-top: 200px;
    position: absolute;
  }

  /* line 461, ../scss/conquest.scss */
  .my-knight {
    max-height: none;
  }

  /* line 465, ../scss/conquest.scss */
  .tab-content {
    float: none;
    width: 90;
    margin: 0 auto;
    max-height: 300px;
  }

  /* line 474, ../scss/conquest.scss */
  #beers-season img {
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    margin-bottom: 25px;
  }

  /* line 494, ../scss/conquest.scss */
  #beers-season img:hover {
    z-index: 2;
    -webkit-transition: all 600ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 600ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 600ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 900ms ease-in;
    transform: scale(1.2);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 84%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  /* line 519, ../scss/conquest.scss */
  .beer-left {
    width: 33%;
    float: left;
  }
  /* line 523, ../scss/conquest.scss */
  .beer-left img {
    width: 100%;
    max-width: 100px;
  }

  /* line 529, ../scss/conquest.scss */
  .beer-middle {
    width: 33%;
    float: left;
  }
  /* line 533, ../scss/conquest.scss */
  .beer-middle img {
    width: 100%;
    max-width: 100px;
  }

  /* line 539, ../scss/conquest.scss */
  .beer-right {
    width: 33%;
    float: right;
  }
  /* line 543, ../scss/conquest.scss */
  .beer-right img {
    width: 100%;
    max-width: 100px;
  }

  /* line 549, ../scss/conquest.scss */
  .menu-link {
    display: none;
  }

  /* line 555, ../scss/conquest.scss */
  .second-nav {
    display: block;
  }

  /* line 559, ../scss/conquest.scss */
  .tab-content {
    float: right;
    width: 78%;
  }

  /* line 564, ../scss/conquest.scss */
  .button-text {
    position: absolute;
    z-index: 100;
    width: 50%;
    margin-top: 170px;
    margin-left: 150px;
  }
  /* line 570, ../scss/conquest.scss */
  .button-text p {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 1.5em;
  }

  /* line 576, ../scss/conquest.scss */
  .div6 > .findus {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60%;
    height: 15%;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  /* line 588, ../scss/conquest.scss */
  .beer-row {
    float: right;
    width: 79%;
    height: 650px;
  }

  /* line 593, ../scss/conquest.scss */
  .sidebar img {
    width: 65%;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-left: 34px;
  }

  /* line 601, ../scss/conquest.scss */
  img {
    max-width: none;
    max-height: none;
  }

  /* line 605, ../scss/conquest.scss */
  .div4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* line 613, ../scss/conquest.scss */
  .div2:hover .overlay {
    opacity: 0;
  }

  /* line 617, ../scss/conquest.scss */
  .div4:hover .overlay {
    opacity: 0;
  }

  /* line 620, ../scss/conquest.scss */
  .div6:hover .overlay2 {
    opacity: 0;
  }

  /* line 623, ../scss/conquest.scss */
  .div7:hover .overlay2 {
    opacity: 0;
  }

  /* line 626, ../scss/conquest.scss */
  .div8:hover .overlay3 {
    opacity: 0;
  }

  /* line 629, ../scss/conquest.scss */
  .div9:hover .overlay3 {
    opacity: 0;
  }

  /* line 632, ../scss/conquest.scss */
  .overlay3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    float: right;
    width: 100%;
  }

  /* line 645, ../scss/conquest.scss */
  .overlay {
    display: block;
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
  }

  /* line 662, ../scss/conquest.scss */
  .overlay2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
  }

  /* line 673, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -14px;
    position: absolute;
    overflow: hidden;
  }

  /* line 682, ../scss/conquest.scss */
  .div4 > .hist9 {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 693, ../scss/conquest.scss */
  .div4:hover > .hist9 {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 702, ../scss/conquest.scss */
  .div2 > .my-knight {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 713, ../scss/conquest.scss */
  .div2:hover > .my-knight {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 721, ../scss/conquest.scss */
  .div4 {
    background-size: cover;
    margin-top: -14px;
    position: absolute;
    height: 50%;
    background-size: cover;
    overflow: hidden;
  }

  /* line 731, ../scss/conquest.scss */
  .div6 {
    repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  /* line 737, ../scss/conquest.scss */
  .div7 {
    repeat: no-repeat;
    background-size: cover;
    margin-top: -14px;
    padding-bottom: 30%;
    position: relative;
  }

  /* line 744, ../scss/conquest.scss */
  .div6 img {
    width: 100%;
    height: 100%;
  }

  /* line 748, ../scss/conquest.scss */
  .div7 img {
    width: 100%;
    height: 100%;
  }

  /* line 752, ../scss/conquest.scss */
  .div8 {
    float: right;
    width: 100%;
    position: relative;
  }

  /* line 757, ../scss/conquest.scss */
  .div9 {
    float: right;
    width: 79%;
    position: relative;
  }

  /* line 762, ../scss/conquest.scss */
  .div9 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 765, ../scss/conquest.scss */
  .div9 img {
    max-height: 300px;
    width: 100%;
  }

  /* line 769, ../scss/conquest.scss */
  .div8 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 772, ../scss/conquest.scss */
  .div8 img {
    max-height: 300px;
    width: 100%;
  }

  /* line 776, ../scss/conquest.scss */
  .sidebar {
    display: block;
    background-color: black;
    float: left;
    position: fixed;
    width: 200px;
    height: 100%;
    max-width: 280px;
    text-align: center;
    left: 0;
    top: 0;
  }
  /* line 787, ../scss/conquest.scss */
  .sidebar a {
    font-family: din-condensed;
    color: #ddd7d7;
    text-transform: uppercase;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
  }
  /* line 800, ../scss/conquest.scss */
  .sidebar ul {
    width: 70%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0 auto;
  }
  /* line 808, ../scss/conquest.scss */
  .sidebar li {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-right: 50px;
  }
  /* line 815, ../scss/conquest.scss */
  .sidebar nav {
    text-align: center;
  }

  /* line 819, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 46%;
    float: left;
    height: 100%;
    float: left;
    position: absolute;
    padding-bottom: 0%;
    margin-top: 0px;
    top: 0;
    bottom: 0;
    margin-top: -0px;
  }

  /* line 834, ../scss/conquest.scss */
  .div2 > .my-knight {
    position: absolute;
    height: 100%;
  }

  /* line 838, ../scss/conquest.scss */
  .div3 {
    float: right;
    width: 55%;
    background-color: blue;
    position: relative;
    height: 100%;
  }

  /* line 845, ../scss/conquest.scss */
  .inner-content {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 200px;
  }

  /* line 855, ../scss/conquest.scss */
  .div4 {
    background-color: tan;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 0;
    top: 0;
    left: 0;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 867, ../scss/conquest.scss */
  .div5 {
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    height: 50%;
  }

  /* line 877, ../scss/conquest.scss */
  .div6 {
    float: none;
    width: 100%;
    background-color: blue;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 885, ../scss/conquest.scss */
  .div7 {
    float: none;
    width: 100%;
    background-color: green;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 50%;
  }
}
/*end of 600 */
@media screen and (min-width: 900px) {
  /* line 897, ../scss/conquest.scss */
  .div6 {
    float: left;
    width: 50%;
    background-color: blue;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 905, ../scss/conquest.scss */
  .div7 {
    float: right;
    width: 50%;
    background-color: green;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }
}
/*end of 800 */
@media screen and (min-width: 1050px) {
  /* line 920, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 260px;
  }

  /* line 935, ../scss/conquest.scss */
  .sidebar {
    width: 260px;
  }

  /* line 939, ../scss/conquest.scss */
  .inner-content {
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 260px;
  }
}
/*end of 800 */
/*end of 800 */
