/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 3, ../scss/conquest.scss */
.clearfix {
  zoom: 1;
}
/* line 5, ../scss/conquest.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/conquest.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
@font-face {
  font-family: din-condensed-Black;
  src: url("../fonts/din-pro-cond/DINPro-Black.otf");
}
@font-face {
  font-family: din-condensed-regular;
  src: url("../fonts/din-pro-cond/DINPro.otf");
}
@font-face {
  font-family: din-condensed-bold;
  src: url("../fonts/din-pro-cond/DINPro-CondBold.otf");
}
@font-face {
  font-family: din-condensed;
  src: url("../fonts/din-pro-cond/DINPro-Cond.otf");
}
/* line 41, ../scss/conquest.scss */
.beer-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
/* line 48, ../scss/conquest.scss */
.beer-box:after ul {
  display: inline-block;
  vertical-align: bottom;
}
/* line 53, ../scss/conquest.scss */
.beer-box:after li {
  float: left;
}

/* line 62, ../scss/conquest.scss */
.overlay {
  display: none;
}

/* line 66, ../scss/conquest.scss */
.six-box {
  position: absolute;
  z-index: 30000;
  margin-top: -170px;
}
/* line 71, ../scss/conquest.scss */
.six-box p {
  color: white;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* line 80, ../scss/conquest.scss */
.seven-box {
  position: absolute;
  z-index: 30000;
  margin-top: -170px;
}
/* line 85, ../scss/conquest.scss */
.seven-box p {
  color: white;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* line 95, ../scss/conquest.scss */
#beers-season img {
  width: 25%;
  margin: 0 auto;
}

/* line 100, ../scss/conquest.scss */
.img-block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 30000;
}
/* line 108, ../scss/conquest.scss */
.img-block img {
  width: 100%;
  text-align: center;
}

/* line 115, ../scss/conquest.scss */
.space {
  height: 100px;
}

/* line 119, ../scss/conquest.scss */
.gmap {
  width: 80%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 150px;
  padding-bottom: 100%;
}

/* line 129, ../scss/conquest.scss */
.form {
  width: 80%;
  margin: 0 auto;
}
/* line 133, ../scss/conquest.scss */
.form input {
  float: right;
  width: 45%;
  vertical-align: top;
  margin-top: 20px;
}
/* line 141, ../scss/conquest.scss */
.form p {
  width: 45%;
  float: left;
  vertical-align: top;
}

/* line 148, ../scss/conquest.scss */
.disc {
  text-align: center;
  margin-top: -20px;
}

/* line 153, ../scss/conquest.scss */
.closebtn {
  position: fixed;
  color: white;
  z-index: 40000;
  margin-left: 140px;
  display: none;
}

/* line 161, ../scss/conquest.scss */
.openbtn {
  position: fixed;
  color: white;
  z-index: 40000;
  margin-left: 5px;
  margin-top: 0px;
  display: block;
}

/* line 171, ../scss/conquest.scss */
.sidebar {
  height: 100%;
  width: 200;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow-y: auto;
}

/* line 187, ../scss/conquest.scss */
.sidebar a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* line 191, ../scss/conquest.scss */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* line 199, ../scss/conquest.scss */
.fade {
  transition: margin-left 0.5s;
}

/* line 205, ../scss/conquest.scss */
.in-menu2 {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 20px;
}
/* line 213, ../scss/conquest.scss */
.in-menu2 h1 {
  color: white;
  text-transform: uppercase;
  font-family: din-condensed-bold;
  font-size: 32px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  /* line 224, ../scss/conquest.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 225, ../scss/conquest.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/* line 243, ../scss/conquest.scss */
.large-beer {
  margin-top: -100px;
  max-width: 150px !important;
  width: 50%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

/* line 253, ../scss/conquest.scss */
.overlay-bottom {
  display: none;
}

/* line 259, ../scss/conquest.scss */
.span-link {
  content: '';
  position: relative;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

/* line 270, ../scss/conquest.scss */
.span-link:hover {
  width: 100%;
}

/* line 275, ../scss/conquest.scss */
.spacer {
  height: 1px;
  color: white;
  width: 150;
  position: relative;
  z-index: 20000;
  width: 100px;
  background-color: white;
  margin: 0 auto;
}

/* line 288, ../scss/conquest.scss */
.spacer2 {
  height: 1px;
  color: white;
  width: 150;
  position: absolute;
  z-index: 25000;
  margin-left: -50px;
  width: 100px;
  background-color: white;
  margin-bottom: 100px;
}

/* line 305, ../scss/conquest.scss */
.beer-bottom-left h3 {
  display: inline-block;
  font-size: 35px;
}
/* line 310, ../scss/conquest.scss */
.beer-bottom-left p {
  display: inline-block;
  font-size: 24px;
  margin-bottom: -10px;
}

/* line 319, ../scss/conquest.scss */
#toggle {
  position: absolute;
  top: 120px;
  z-index: 30000;
  margin-top: -115px;
  background: url("../conquest-img/close.png") no-repeat;
  background-size: 100 100;
  z-index: 20000;
  height: 50px;
  width: 75px;
  border: none;
}

/* line 333, ../scss/conquest.scss */
#toggle.chicken {
  background: url("../conquest-img/hamburger.png") no-repeat;
}

/* line 339, ../scss/conquest.scss */
.medusa-header.first {
  background-color: #902B45;
  text-align: left;
}

/* line 344, ../scss/conquest.scss */
.medusa-header.two {
  background-color: #C8BBA9;
}

/* line 348, ../scss/conquest.scss */
.medusa-header.three {
  background-color: #C8BBA9;
}

/* line 351, ../scss/conquest.scss */
.medusa-header.four {
  background-color: #784739;
}

/* line 355, ../scss/conquest.scss */
.medusa-header.five {
  background-color: #4a5630;
}

/* line 359, ../scss/conquest.scss */
.medusa-header.six {
  background-color: #397049;
}

/* line 363, ../scss/conquest.scss */
.medusa-header.seven {
  background-color: #FF9E16;
}

/* line 367, ../scss/conquest.scss */
.medusa-header.eight {
  background-color: #24678F;
}

/* line 374, ../scss/conquest.scss */
.medusa-header.nine {
  background-color: #EA2706;
}

/* line 382, ../scss/conquest.scss */
.unslider-nav {
  margin-top: 25px;
}

/* line 386, ../scss/conquest.scss */
.my-slider {
  min-height: 500px;
}

/* line 392, ../scss/conquest.scss */
#deralt {
  width: 100%;
  margin-left: 0px;
  background: url("../conquest-img/bggray.png") no-repeat center center;
}
/* line 397, ../scss/conquest.scss */
#deralt img {
  max-width: 100px;
}
/* line 400, ../scss/conquest.scss */
#deralt .top {
  width: 50%;
  max-width: !important none;
  margin-bottom: 10px;
}
/* line 407, ../scss/conquest.scss */
#deralt .bottom {
  width: 90%;
  max-width: 500px;
}

/* line 416, ../scss/conquest.scss */
.nav-close {
  margin-left: 200px;
  position: absolute;
  z-index: 20000;
}

/* line 423, ../scss/conquest.scss */
p {
  font-family: din-condensed;
}

/* line 428, ../scss/conquest.scss */
.medusa-header {
  padding: 40px;
  width: 100%;
  height: 300px;
}

/* line 438, ../scss/conquest.scss */
.overlay-bottom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 33%;
  margin-left: 260px;
  z-index: 100;
}

/* line 459, ../scss/conquest.scss */
.blurred {
  background: #262626;
  opacity: 0.5;
  height: 500px;
  z-index: 1800;
  position: absolute;
}

/* line 469, ../scss/conquest.scss */
.div2:hover .overlay6 {
  opacity: 0;
}

/* line 475, ../scss/conquest.scss */
.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 260px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
}
/* line 489, ../scss/conquest.scss */
.slide-in a {
  font-family: din-condensed-bold;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 502, ../scss/conquest.scss */
.slide-in img {
  width: 65%;
  margin: 0 auto;
}
/* line 506, ../scss/conquest.scss */
.slide-in ul {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
/* line 513, ../scss/conquest.scss */
.slide-in li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 520, ../scss/conquest.scss */
.slide-in nav {
  text-align: center;
}

/* line 526, ../scss/conquest.scss */
.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 260px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
}
/* line 540, ../scss/conquest.scss */
.slide-out a {
  font-family: din-condensed;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 553, ../scss/conquest.scss */
.slide-out img {
  width: 65%;
  margin: 0 auto;
}
/* line 557, ../scss/conquest.scss */
.slide-out ul {
  width: 70%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  margin: 0 auto;
}
/* line 565, ../scss/conquest.scss */
.slide-out li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 572, ../scss/conquest.scss */
.slide-out nav {
  text-align: center;
}

/* line 577, ../scss/conquest.scss */
.sidebar {
  display: none;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
/* line 608, ../scss/conquest.scss */
.button-text {
  position: absolute;
  z-index: 30000;
  width: 50%;
  margin-top: -257px;
  margin-left: 150px;
}
/* line 614, ../scss/conquest.scss */
.button-text p {
  color: white;
  font-size: 1.5em;
}

/* line 622, ../scss/conquest.scss */
#menu2 {
  position: relative;
  background: url("../conquest-img/bar.jpeg") no-repeat;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: -100px;
  background-size: cover;
}
/* line 636, ../scss/conquest.scss */
#menu2 .in-menu {
  z-index: 1000;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
/* line 645, ../scss/conquest.scss */
#menu2 p {
  color: white;
  font-family: din-condensed-regular;
  font-size: 1.5em;
}
/* line 653, ../scss/conquest.scss */
#menu2 h3 {
  color: white;
  font-family: din-condensed-bold;
  font-size: 3.0em;
  text-align: center;
  text-transform: uppercase;
}

/* line 664, ../scss/conquest.scss */
#menu3 {
  background: url("../conquest-img/bar.jpeg") no-repeat;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  margin-top: -100px;
  position: relative;
}
/* line 678, ../scss/conquest.scss */
#menu3 .in-menu2 {
  z-index: 1000;
  position: relative;
}
/* line 683, ../scss/conquest.scss */
#menu3 p {
  color: white;
  font-family: din-condensed;
  font-size: 1.5em;
}
/* line 691, ../scss/conquest.scss */
#menu3 h3 {
  color: white;
  font-family: din-condensed;
  font-size: 3.0em;
}

/* line 702, ../scss/conquest.scss */
.nav-beer {
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 711, ../scss/conquest.scss */
.nav-beer li {
  list-style-type: none;
}
/* line 715, ../scss/conquest.scss */
.nav-beer a {
  text-decoration: none;
}

/* line 723, ../scss/conquest.scss */
.image_a {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 732, ../scss/conquest.scss */
.fade.in {
  display: block;
}

/* line 736, ../scss/conquest.scss */
.my-knight {
  max-height: 450px;
  width: 100%;
  height: 400px;
}

/* line 742, ../scss/conquest.scss */
.hist9 {
  width: 100%;
  max-height: 500px;
}

/* line 747, ../scss/conquest.scss */
.beer-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: url("../conquest-img/bggray.png") no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 756, ../scss/conquest.scss */
.beer-box h3 {
  font-size: 36px;
  font-family: din-condensed-bold;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 768, ../scss/conquest.scss */
.beer-box h1 {
  font-size: 18px;
  font-family: din-condensed-Black;
  font-weight: 700;
  border-bottom: 5px solid;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 779, ../scss/conquest.scss */
.beer-box li {
  list-style-type: none;
  text-align: center;
}

/* line 788, ../scss/conquest.scss */
.beer-rack {
  width: 45%;
  float: left;
}

/* line 792, ../scss/conquest.scss */
.beer-rack-right {
  width: 45%;
  float: right;
}

/* line 798, ../scss/conquest.scss */
.container p {
  color: white;
  display: block;
}
/* line 802, ../scss/conquest.scss */
.container h1 {
  color: white;
  display: block;
}

/* line 808, ../scss/conquest.scss */
.product-image {
  width: 25%;
}

/* line 812, ../scss/conquest.scss */
.panel {
  background-color: black;
  margin-top: 55px;
}
/* line 815, ../scss/conquest.scss */
.panel a {
  color: white;
}

/* line 821, ../scss/conquest.scss */
.top-box {
  background-color: black;
  margin-top: -50px;
}

/* line 826, ../scss/conquest.scss */
.second-nav {
  display: none;
}

/* line 831, ../scss/conquest.scss */
.menu-link {
  float: right;
  color: white;
}

/* line 836, ../scss/conquest.scss */
.beer-rack > .beer-talk {
  width: 259px;
  color: blue;
  position: absolute;
  margin-left: 30px;
  bottom: 100;
  z-index: 1000;
  margin-top: 350px;
}

/* line 847, ../scss/conquest.scss */
.beer-row-2 {
  width: 100%;
}

/* line 853, ../scss/conquest.scss */
#beers-season {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: auto;
  background-size: cover;
  margin-top: -30px;
  background-color: white;
  background: url("../conquest-img/bggray.png") no-repeat center center;
}
/* line 869, ../scss/conquest.scss */
#beers-season h4 {
  color: black;
  font-family: 'din-condensed-bold';
  font-size: 24px;
  margin-top: -10px;
}

/* line 880, ../scss/conquest.scss */
.beer-rack img {
  position: relative;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  width: 80%;
  margin-bottom: 10px;
  float: left;
}

/* line 893, ../scss/conquest.scss */
.beer-1 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 908, ../scss/conquest.scss */
#menu2 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.8;
  width: 100%;
  z-index: 100;
}

/* line 923, ../scss/conquest.scss */
#menu3 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 939, ../scss/conquest.scss */
.beer-2 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 954, ../scss/conquest.scss */
.beer-3 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 969, ../scss/conquest.scss */
.beer-1 a {
  position: absolute;
  color: white;
}

/* line 973, ../scss/conquest.scss */
.beer-2 a {
  position: absolute;
  color: white;
}

/* line 977, ../scss/conquest.scss */
.beer-3 a {
  position: absolute;
  color: white;
}

/* line 981, ../scss/conquest.scss */
#beers div {
  height: 100%;
  width: 33.3%;
  float: left;
  position: relative;
}

/* line 987, ../scss/conquest.scss */
#beers img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 995, ../scss/conquest.scss */
.practice-nav a {
  text-decoration: none;
}
/* line 998, ../scss/conquest.scss */
.practice-nav li {
  list-style-type: none;
}

/* line 1002, ../scss/conquest.scss */
.special1 > .sidebar {
  margin-left: 40px;
}

/* line 1005, ../scss/conquest.scss */
.tab-content {
  float: none;
  width: 100%;
}

/* line 1010, ../scss/conquest.scss */
#menu2 {
  width: 100%;
}

/* line 1013, ../scss/conquest.scss */
.sidebar, .special a {
  margin: 0;
}

/* line 1016, ../scss/conquest.scss */
#menu1 {
  float: right;
  top: 0;
  bottom: 0;
  width: 78%;
  right: 0;
  height: 100%;
  height: 650px;
  position: absolute;
  z-index: 1000;
}

/* line 1029, ../scss/conquest.scss */
.left-1 {
  background-color: blue;
  width: 33.3%;
  height: 650px;
  float: left;
}

/* line 1035, ../scss/conquest.scss */
.left-1 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 1040, ../scss/conquest.scss */
.left-2 {
  background-color: green;
  height: 650px;
  width: 33.3%;
  float: left;
}

/* line 1047, ../scss/conquest.scss */
.left-2 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 1052, ../scss/conquest.scss */
.left-3 {
  background-color: yellow;
  height: 650px;
  width: 33.3%;
  float: right;
}

/* line 1059, ../scss/conquest.scss */
.left-3 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
  margin-left: -1px;
}

/* line 1065, ../scss/conquest.scss */
.div7 > .taste {
  width: 60%;
  height: 15%;
  position: absolute;
  z-index: 100;
  margin-top: -268px;
  margin-left: 50px;
}

/* line 1073, ../scss/conquest.scss */
.div4 > .conquer-me {
  width: 25%;
  height: 25%;
}

/* line 1077, ../scss/conquest.scss */
.div2 > .hist9 {
  width: 50%;
  height: 30%;
  margin-left: 52px;
  margin-top: 100px;
  position: absolute;
}

/* line 1084, ../scss/conquest.scss */
.div2 > .history1 {
  width: 50%;
  margin: 0 auto;
  height: 30%;
}

/* line 1089, ../scss/conquest.scss */
.beers {
  height: 650px;
}

/* line 1092, ../scss/conquest.scss */
.beer-holder {
  width: 45%;
  float: left;
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  height: 100%;
}

/* line 1098, ../scss/conquest.scss */
.div4 > .beers-pic {
  display: block;
  position: absolute;
  z-index: 30000;
  width: 60%;
  height: 14%;
  text-align: center;
  margin-left: 135px;
  margin-top: 15%;
}

/* line 1108, ../scss/conquest.scss */
.div6 > .findus {
  display: block;
  position: absolute;
  z-index: 20000;
  width: 100%;
  height: 8%;
  text-align: center;
  margin-top: -450px;
  margin-left: 20%;
}

/* line 1118, ../scss/conquest.scss */
.div2 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 1128, ../scss/conquest.scss */
.div6 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 1139, ../scss/conquest.scss */
.row > .seasonal, .year-round, .imperials {
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  text-align: center;
  margin-top: -14px;
  background-size: cover;
}

/* line 1152, ../scss/conquest.scss */
.sidebar {
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 0px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
  width: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* line 1167, ../scss/conquest.scss */
.sidebar a {
  font-family: din-condensed;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 1180, ../scss/conquest.scss */
.sidebar img {
  width: 65%;
  margin: 0 auto;
}
/* line 1184, ../scss/conquest.scss */
.sidebar ul {
  width: 100%;
  text-align: center;
  margin-top: -40px;
}
/* line 1191, ../scss/conquest.scss */
.sidebar li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 1198, ../scss/conquest.scss */
.sidebar nav {
  text-align: center;
}

/* line 1207, ../scss/conquest.scss */
.hist10 {
  position: absolute;
  z-index: 30000;
  margin-top: -230px;
  width: 80%;
  margin-left: 70px;
  z-index: 30000;
}

/* line 1217, ../scss/conquest.scss */
.overlay3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  float: right;
  width: 100%;
}

/* line 1238, ../scss/conquest.scss */
.overlay2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.7;
}

/* line 1250, ../scss/conquest.scss */
.beer-page-right {
  text-align: center;
}

/* line 1254, ../scss/conquest.scss */
.box-left {
  width: 33%;
  float: left;
  border-right: 1px solid black;
}

/* line 1260, ../scss/conquest.scss */
.ghost {
  color: black;
  background: #fff;
  border: 1px solid black;
  font-size: 17px;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

/* line 1275, ../scss/conquest.scss */
.ghost:hover, .ghost-button:active {
  color: #fff;
  background: black;
}

@media screen and (min-width: 650px) {
  /* line 1282, ../scss/conquest.scss */
  .openbtn {
    display: none;
    position: fixed;
    color: white;
    z-index: 40000;
    margin-left: 5px;
    margin-top: 0px;
  }

  /* line 1292, ../scss/conquest.scss */
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.7;
    z-index: 20000;
  }

  /* line 1306, ../scss/conquest.scss */
  .large-beer {
    margin-top: -100px;
    max-width: 150px !important;
    width: 50%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-left: -150px;
  }

  /* line 1318, ../scss/conquest.scss */
  .overlay5 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.7;
    z-index: 2000;
  }

  /* line 1331, ../scss/conquest.scss */
  .div6:hover > .overlay5 {
    opacity: 0;
  }

  /* line 1338, ../scss/conquest.scss */
  .hist10 {
    position: absolute;
    z-index: 30000;
    margin-top: -220px;
    width: 75%;
    margin-left: 100px;
  }

  /* line 1348, ../scss/conquest.scss */
  .my-slider {
    height: 1200px;
  }

  /* line 1352, ../scss/conquest.scss */
  .unslider-arrow.next {
    left: auto;
    right: 20px;
    background: url("../conquest-img/right.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 20%;
  }

  /* line 1362, ../scss/conquest.scss */
  .unslider-arrow.prev {
    margin-top: -650px;
    background: url("../conquest-img/left.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
  }

  /* line 1373, ../scss/conquest.scss */
  #deralt {
    width: 100%;
    margin-left: 0px;
    position: !important relative;
    height: auto;
  }
  /* line 1379, ../scss/conquest.scss */
  #deralt img {
    max-width: 100px;
  }

  /* line 1384, ../scss/conquest.scss */
  .beer-page {
    width: 90%;
    margin: 0 auto;
  }

  /* line 1391, ../scss/conquest.scss */
  .beer-page-left {
    width: 45%;
    float: left;
  }
  /* line 1395, ../scss/conquest.scss */
  .beer-page-left p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.7em;
  }

  /* line 1404, ../scss/conquest.scss */
  .beer-page-right {
    width: 45%;
    float: right;
    text-align: center;
  }
  /* line 1409, ../scss/conquest.scss */
  .beer-page-right img {
    width: 10%;
    position: absolute;
    z-index: 2;
    margin-top: -208px;
  }

  /* line 1419, ../scss/conquest.scss */
  .medusa-header {
    padding: 40px;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  /* line 1428, ../scss/conquest.scss */
  .medusa-header div {
    width: 50%;
    margin-left: 10px;
  }
  /* line 1434, ../scss/conquest.scss */
  .medusa-header h1 {
    color: white;
  }

  /* line 1442, ../scss/conquest.scss */
  .overlay-bottom {
    display: none;
  }

  /* line 1448, ../scss/conquest.scss */
  .hist10 {
    position: absolute;
    z-index: 30000;
    margin-top: 100px;
    width: 60%;
    margin-left: 70px;
  }

  /* line 1457, ../scss/conquest.scss */
  .my-knight {
    width: 100%;
  }

  /* line 1464, ../scss/conquest.scss */
  .button-text {
    position: absolute;
    z-index: 30000;
    width: 50%;
    margin-top: 170px;
    margin-left: 150px;
  }
  /* line 1470, ../scss/conquest.scss */
  .button-text p {
    color: white;
    font-size: 1.5em;
  }

  /* line 1479, ../scss/conquest.scss */
  .div6 > .findus {
    display: block;
    position: absolute;
    z-index: 20000;
    width: 50%;
    height: 20%;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
  }

  /* line 1493, ../scss/conquest.scss */
  .blurred {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }

  /* line 1501, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 200px;
  }

  /* line 1515, ../scss/conquest.scss */
  .div2 > .hist9 {
    width: 50%;
    height: 30%;
    margin-left: 52px;
    margin-top: 200px;
    position: absolute;
  }

  /* line 1525, ../scss/conquest.scss */
  .my-knight {
    max-height: none;
  }

  /* line 1529, ../scss/conquest.scss */
  .tab-content {
    float: none;
    margin: 0 auto;
  }

  /* line 1538, ../scss/conquest.scss */
  #beers-season img {
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    margin-bottom: 25px;
  }

  /* line 1558, ../scss/conquest.scss */
  #beers-season img:hover {
    z-index: 2;
    -webkit-transition: all 600ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 600ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 600ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 900ms ease-in;
    transform: scale(1.2);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 84%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  /* line 1583, ../scss/conquest.scss */
  .beer-left {
    width: 33%;
    float: right;
  }
  /* line 1587, ../scss/conquest.scss */
  .beer-left img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1593, ../scss/conquest.scss */
  .beer-middle {
    width: 33%;
    float: right;
  }
  /* line 1597, ../scss/conquest.scss */
  .beer-middle img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1603, ../scss/conquest.scss */
  .beer-right {
    width: 33%;
    float: right;
  }
  /* line 1607, ../scss/conquest.scss */
  .beer-right img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1613, ../scss/conquest.scss */
  .menu-link {
    display: none;
  }

  /* line 1619, ../scss/conquest.scss */
  .second-nav {
    display: block;
  }

  /* line 1623, ../scss/conquest.scss */
  .tab-content {
    float: right;
    width: 82%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: 250px;
  }

  /* line 1635, ../scss/conquest.scss */
  .button-text {
    position: absolute;
    z-index: 30000;
    width: 50%;
    margin-top: 170px;
    margin-left: 150px;
  }
  /* line 1641, ../scss/conquest.scss */
  .button-text p {
    color: white;
    font-size: 1.5em;
  }

  /* line 1649, ../scss/conquest.scss */
  .div6 > .findus {
    display: block;
    position: absolute;
    z-index: 20000;
    width: 60%;
    height: 15%;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  /* line 1667, ../scss/conquest.scss */
  .beer-row {
    float: right;
    width: 79%;
  }

  /* line 1672, ../scss/conquest.scss */
  .sidebar img {
    width: 65%;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-left: 34px;
  }

  /* line 1680, ../scss/conquest.scss */
  img {
    max-width: none;
    max-height: none;
  }

  /* line 1684, ../scss/conquest.scss */
  .div4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* line 1692, ../scss/conquest.scss */
  .div2:hover .overlay {
    opacity: 0;
  }

  /* line 1696, ../scss/conquest.scss */
  .div4:hover .overlay {
    opacity: 0;
  }

  /* line 1699, ../scss/conquest.scss */
  .div6:hover .overlay2 {
    opacity: 0;
  }

  /* line 1702, ../scss/conquest.scss */
  .div7:hover .overlay2 {
    opacity: 0;
  }

  /* line 1705, ../scss/conquest.scss */
  .div8:hover .overlay3 {
    opacity: 0;
  }

  /* line 1708, ../scss/conquest.scss */
  .div9:hover .overlay3 {
    opacity: 0;
  }

  /* line 1711, ../scss/conquest.scss */
  .overlay3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    float: right;
    width: 100%;
  }

  /* line 1724, ../scss/conquest.scss */
  .overlay6 {
    display: block;
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    max-height: 500px;
  }

  /* line 1744, ../scss/conquest.scss */
  .overlay2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.7;
  }

  /* line 1755, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -14px;
    position: absolute;
    overflow: hidden;
  }

  /* line 1764, ../scss/conquest.scss */
  .div4 > .hist9 {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 1775, ../scss/conquest.scss */
  .div4:hover > .hist9 {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 1784, ../scss/conquest.scss */
  .div2 > .my-knight {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 1795, ../scss/conquest.scss */
  .div2:hover > .my-knight {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 1803, ../scss/conquest.scss */
  .div4 {
    background-size: cover;
    margin-top: -14px;
    position: absolute;
    height: 50%;
    background-size: cover;
    overflow: hidden;
  }

  /* line 1812, ../scss/conquest.scss */
  .div6 {
    repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  /* line 1818, ../scss/conquest.scss */
  .div7 {
    repeat: no-repeat;
    background-size: cover;
    margin-top: -14px;
    padding-bottom: 30%;
    position: relative;
  }

  /* line 1825, ../scss/conquest.scss */
  .div6 img {
    width: 100%;
    height: 100%;
  }

  /* line 1829, ../scss/conquest.scss */
  .div7 img {
    width: 100%;
    height: 100%;
  }

  /* line 1833, ../scss/conquest.scss */
  .div8 {
    float: right;
    width: 100%;
    position: relative;
  }

  /* line 1838, ../scss/conquest.scss */
  .div9 {
    float: right;
    width: 79%;
    position: relative;
  }

  /* line 1843, ../scss/conquest.scss */
  .div9 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 1846, ../scss/conquest.scss */
  .div9 img {
    width: 100%;
  }

  /* line 1850, ../scss/conquest.scss */
  .div8 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 1853, ../scss/conquest.scss */
  .div8 img {
    width: 100%;
  }

  /* line 1857, ../scss/conquest.scss */
  .sidebar {
    display: block;
    background-color: black;
    float: left;
    position: fixed;
    width: 250px;
    height: 100%;
    max-width: 280px;
    text-align: center;
    left: 0;
    top: 0;
  }
  /* line 1868, ../scss/conquest.scss */
  .sidebar a {
    font-family: din-condensed;
    color: #ddd7d7;
    text-transform: uppercase;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
  }
  /* line 1887, ../scss/conquest.scss */
  .sidebar ul {
    width: 100%;
    text-align: center;
    margin-top: -40px;
    margin-bottom: -10px;
  }
  /* line 1895, ../scss/conquest.scss */
  .sidebar li {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-right: 50px;
  }
  /* line 1902, ../scss/conquest.scss */
  .sidebar nav {
    text-align: center;
  }

  /* line 1906, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 46%;
    float: left;
    height: 100%;
    float: left;
    position: absolute;
    padding-bottom: 0%;
    margin-top: 0px;
    top: 0;
    bottom: 0;
    margin-top: -0px;
  }

  /* line 1921, ../scss/conquest.scss */
  .div2 > .my-knight {
    position: absolute;
    height: 100%;
  }

  /* line 1925, ../scss/conquest.scss */
  .div3 {
    float: right;
    width: 55%;
    background-color: blue;
    position: relative;
    height: 100%;
  }

  /* line 1932, ../scss/conquest.scss */
  .inner-content {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
  }

  /* line 1942, ../scss/conquest.scss */
  .div4 {
    background-color: tan;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 0;
    top: 0;
    left: 0;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1954, ../scss/conquest.scss */
  .div5 {
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    height: 50%;
  }

  /* line 1964, ../scss/conquest.scss */
  .div6 {
    float: none;
    width: 100%;
    background-color: blue;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1972, ../scss/conquest.scss */
  .div7 {
    float: none;
    width: 100%;
    background-color: green;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 50%;
  }
}
/*end of 600 */
@media screen and (min-width: 900px) {
  /* line 1983, ../scss/conquest.scss */
  .large-beer {
    margin-top: -100px;
    max-width: 250px !important;
    width: 50%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-left: -150px;
  }

  /* line 1995, ../scss/conquest.scss */
  #slider {
    width: 250px;
  }

  /* line 2000, ../scss/conquest.scss */
  .sidebar img {
    margin-left: 0px;
  }

  /* line 2004, ../scss/conquest.scss */
  .box-left {
    width: 33%;
    float: left;
    border-right: 1px solid black;
  }

  /* line 2010, ../scss/conquest.scss */
  .div6 {
    float: left;
    width: 50%;
    background-color: blue;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 2018, ../scss/conquest.scss */
  .div7 {
    float: right;
    width: 50%;
    background-color: green;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 2027, ../scss/conquest.scss */
  #medusa {
    width: 84%;
    margin-left: 200px;
  }

  /* line 2032, ../scss/conquest.scss */
  #artemis {
    width: 84%;
    margin-left: 200px;
  }
}
/*end of 800 */
@media screen and (min-width: 1050px) {
  /* line 2042, ../scss/conquest.scss */
  .my-slider {
    min-height: 750px;
  }

  /* line 2048, ../scss/conquest.scss */
  #deralt {
    width: 100%;
    margin-left: 0px;
  }
  /* line 2052, ../scss/conquest.scss */
  #deralt img {
    max-width: 200px;
  }

  /* line 2062, ../scss/conquest.scss */
  #medusa {
    width: 84%;
    margin-left: 260px;
  }

  /* line 2067, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 260px;
  }

  /* line 2080, ../scss/conquest.scss */
  #menu2 {
    position: relative;
    background: url("../conquest-img/bar.jpeg") no-repeat;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
  }

  /* line 2095, ../scss/conquest.scss */
  #menu3 {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  /* line 2110, ../scss/conquest.scss */
  .sidebar {
    width: 250px;
  }

  /* line 2114, ../scss/conquest.scss */
  .inner-content {
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
  }
}
/*end of 800 */
@media screen and (min-width: 1050px) {
  /* line 2137, ../scss/conquest.scss */
  .unslider-arrow.next {
    left: auto;
    right: 20px;
    background: url("../conquest-img/right.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
  }

  /* line 2146, ../scss/conquest.scss */
  .unslider-arrow.prev {
    margin-top: -650px;
    background: url("../conquest-img/left.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
  }
}
/*end of 800 */
