/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 3, ../scss/conquest.scss */
.clearfix {
  zoom: 1;
}
/* line 5, ../scss/conquest.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/conquest.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
@font-face {
  font-family: din-condensed-Black;
  src: url("../fonts/din-pro-cond/DINPro-Black.otf");
}
@font-face {
  font-family: din-condensed-bold;
  src: url("../fonts/din-pro-cond/DINPro-CondBold.otf");
}
@font-face {
  font-family: din-condensed;
  src: url("../fonts/din-pro-cond/DINPRO-Cond.otf");
}
/* line 37, ../scss/conquest.scss */
.spacer {
  height: 1px;
  color: white;
  width: 150;
  position: relative;
  z-index: 20000;
  width: 100px;
  background-color: white;
  margin: 0 auto;
}

/* line 50, ../scss/conquest.scss */
.spacer2 {
  height: 1px;
  color: white;
  width: 150;
  position: absolute;
  z-index: 25000;
  margin-left: -50px;
  width: 100px;
  background-color: white;
  margin-bottom: 100px;
}

/* line 67, ../scss/conquest.scss */
.beer-bottom-left h3 {
  display: inline-block;
  font-size: 35px;
}
/* line 72, ../scss/conquest.scss */
.beer-bottom-left p {
  display: inline-block;
  font-size: 24px;
  margin-bottom: -10px;
}

/* line 86, ../scss/conquest.scss */
.medusa-header.first {
  background-color: #902B45;
  text-align: left;
}

/* line 91, ../scss/conquest.scss */
.medusa-header.two {
  background-color: #C8BBA9;
}

/* line 95, ../scss/conquest.scss */
.medusa-header.three {
  background-color: #C8BBA9;
}

/* line 98, ../scss/conquest.scss */
.medusa-header.four {
  background-color: #784739;
}

/* line 102, ../scss/conquest.scss */
.medusa-header.five {
  background-color: #4a5630;
}

/* line 106, ../scss/conquest.scss */
.medusa-header.six {
  background-color: #397049;
}

/* line 110, ../scss/conquest.scss */
.medusa-header.seven {
  background-color: #FF9E16;
}

/* line 114, ../scss/conquest.scss */
.medusa-header.eight {
  background-color: #24678F;
}

/* line 121, ../scss/conquest.scss */
.medusa-header.nine {
  background-color: #EA2706;
}

/* line 129, ../scss/conquest.scss */
.unslider-nav {
  margin-top: 25px;
}

/* line 133, ../scss/conquest.scss */
.my-slider {
  min-height: 500px;
}

/* line 139, ../scss/conquest.scss */
#deralt {
  width: 100%;
  margin-left: 0px;
  background: url("../conquest-img/bggray.png") no-repeat center center;
}
/* line 144, ../scss/conquest.scss */
#deralt img {
  max-width: 100px;
}
/* line 147, ../scss/conquest.scss */
#deralt .top {
  width: 30%;
  max-width: !important none;
  margin-bottom: 10px;
}
/* line 154, ../scss/conquest.scss */
#deralt .bottom {
  width: 70%;
  max-width: 400px;
}

/* line 163, ../scss/conquest.scss */
.nav-close {
  margin-left: 200px;
  position: absolute;
  z-index: 20000;
}

/* line 170, ../scss/conquest.scss */
p {
  font-family: din-condensed;
}

/* line 175, ../scss/conquest.scss */
.medusa-header {
  padding: 40px;
  width: 100%;
  height: 300px;
}

/* line 185, ../scss/conquest.scss */
.overlay-bottom {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 33%;
  margin-left: 260px;
  z-index: 100;
}

/* line 206, ../scss/conquest.scss */
.blurred {
  background: #262626;
  opacity: 0.5;
  height: 500px;
  z-index: 1800;
  position: absolute;
}

/* line 216, ../scss/conquest.scss */
.div2:hover .overlay6 {
  opacity: 0;
}

/* line 223, ../scss/conquest.scss */
#slider {
  position: absolute;
  width: 200px;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

/* line 232, ../scss/conquest.scss */
.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 260px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
}
/* line 246, ../scss/conquest.scss */
.slide-in a {
  font-family: din-condensed;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 259, ../scss/conquest.scss */
.slide-in img {
  width: 65%;
  margin: 0 auto;
}
/* line 263, ../scss/conquest.scss */
.slide-in ul {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
/* line 270, ../scss/conquest.scss */
.slide-in li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 277, ../scss/conquest.scss */
.slide-in nav {
  text-align: center;
}

/* line 283, ../scss/conquest.scss */
.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 260px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
}
/* line 297, ../scss/conquest.scss */
.slide-out a {
  font-family: din-condensed;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 310, ../scss/conquest.scss */
.slide-out img {
  width: 65%;
  margin: 0 auto;
}
/* line 314, ../scss/conquest.scss */
.slide-out ul {
  width: 70%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  margin: 0 auto;
}
/* line 322, ../scss/conquest.scss */
.slide-out li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 329, ../scss/conquest.scss */
.slide-out nav {
  text-align: center;
}

/* line 334, ../scss/conquest.scss */
.sidebar {
  display: none;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
/* line 366, ../scss/conquest.scss */
.button-text {
  position: absolute;
  z-index: 100;
  width: 50%;
  margin-top: -170px;
  margin-left: 150px;
}
/* line 372, ../scss/conquest.scss */
.button-text p {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 1.5em;
}

/* line 380, ../scss/conquest.scss */
#menu2 {
  position: absolute;
  background: url("../conquest-img/bar.jpeg") no-repeat;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 78%;
  margin-left: 200px;
  background-size: cover;
}
/* line 393, ../scss/conquest.scss */
#menu2 .in-menu {
  z-index: 1000;
  position: absolute;
}
/* line 399, ../scss/conquest.scss */
#menu2 p {
  color: white;
  font-family: din-condensed;
  font-size: 1.5em;
}
/* line 407, ../scss/conquest.scss */
#menu2 h3 {
  color: white;
  font-family: din-condensed;
  font-size: 3.0em;
}

/* line 416, ../scss/conquest.scss */
#menu3 {
  background: url("../conquest-img/bar.jpeg") no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  margin-top: -20px;
  position: absolute;
  width: 78%;
  margin-left: 200px;
}
/* line 430, ../scss/conquest.scss */
#menu3 .in-menu2 {
  z-index: 1000;
  position: absolute;
}
/* line 435, ../scss/conquest.scss */
#menu3 p {
  color: white;
  font-family: din-condensed;
  font-size: 1.5em;
}
/* line 443, ../scss/conquest.scss */
#menu3 h3 {
  color: white;
  font-family: din-condensed;
  font-size: 3.0em;
}

/* line 454, ../scss/conquest.scss */
.nav-beer {
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 463, ../scss/conquest.scss */
.nav-beer li {
  list-style-type: none;
}
/* line 467, ../scss/conquest.scss */
.nav-beer a {
  text-decoration: none;
}

/* line 475, ../scss/conquest.scss */
.image_a {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 484, ../scss/conquest.scss */
.fade.in {
  display: block;
}

/* line 488, ../scss/conquest.scss */
.my-knight {
  max-height: 350px;
  width: 100%;
}

/* line 493, ../scss/conquest.scss */
.hist9 {
  width: 100%;
  max-height: 500px;
}

/* line 498, ../scss/conquest.scss */
.beer-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 503, ../scss/conquest.scss */
.beer-box h3 {
  font-size: 36px;
  font-family: din-condensed-Black;
  font-weight: 700;
  border-bottom: 5px solid;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 514, ../scss/conquest.scss */
.beer-box h1 {
  font-size: 18px;
  font-family: din-condensed-Black;
  font-weight: 700;
  border-bottom: 5px solid;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 525, ../scss/conquest.scss */
.beer-box li {
  list-style-type: none;
  text-align: center;
}

/* line 534, ../scss/conquest.scss */
.beer-rack {
  width: 45%;
  float: left;
}

/* line 538, ../scss/conquest.scss */
.beer-rack-right {
  width: 45%;
  float: right;
}

/* line 544, ../scss/conquest.scss */
.container p {
  color: white;
  display: block;
}
/* line 548, ../scss/conquest.scss */
.container h1 {
  color: white;
  display: block;
}

/* line 554, ../scss/conquest.scss */
.product-image {
  width: 25%;
}

/* line 558, ../scss/conquest.scss */
.panel {
  background-color: black;
  margin-top: 55px;
}
/* line 561, ../scss/conquest.scss */
.panel a {
  color: white;
}

/* line 567, ../scss/conquest.scss */
.top-box {
  background-color: black;
}

/* line 571, ../scss/conquest.scss */
.second-nav {
  display: none;
}

/* line 576, ../scss/conquest.scss */
.menu-link {
  float: right;
  color: white;
}

/* line 581, ../scss/conquest.scss */
.beer-rack > .beer-talk {
  width: 259px;
  color: blue;
  position: absolute;
  margin-left: 30px;
  bottom: 100;
  z-index: 1000;
  margin-top: 350px;
}

/* line 592, ../scss/conquest.scss */
.beer-row-2 {
  width: 100%;
}

/* line 596, ../scss/conquest.scss */
#beers-season p {
  color: black;
}

/* line 602, ../scss/conquest.scss */
#beers-season {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
  margin-top: -30px;
  background-color: white;
  background: url("../conquest-img/bggray.png") no-repeat center center;
}

/* line 617, ../scss/conquest.scss */
.beer-rack img {
  position: relative;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  width: 80%;
  margin-bottom: 10px;
  float: left;
}

/* line 630, ../scss/conquest.scss */
.beer-1 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 645, ../scss/conquest.scss */
#menu2 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 660, ../scss/conquest.scss */
#menu3 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 676, ../scss/conquest.scss */
.beer-2 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 691, ../scss/conquest.scss */
.beer-3 > .overlay4 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  width: 100%;
  z-index: 100;
}

/* line 706, ../scss/conquest.scss */
.beer-1 a {
  position: absolute;
  color: white;
}

/* line 710, ../scss/conquest.scss */
.beer-2 a {
  position: absolute;
  color: white;
}

/* line 714, ../scss/conquest.scss */
.beer-3 a {
  position: absolute;
  color: white;
}

/* line 718, ../scss/conquest.scss */
#beers div {
  height: 100%;
  width: 33.3%;
  float: left;
  position: relative;
}

/* line 724, ../scss/conquest.scss */
#beers img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 732, ../scss/conquest.scss */
.practice-nav a {
  text-decoration: none;
}
/* line 735, ../scss/conquest.scss */
.practice-nav li {
  list-style-type: none;
}

/* line 739, ../scss/conquest.scss */
.special1 > .sidebar {
  margin-left: 40px;
}

/* line 742, ../scss/conquest.scss */
.tab-content {
  float: none;
  width: 100;
}

/* line 747, ../scss/conquest.scss */
#menu2 {
  width: 100%;
}

/* line 750, ../scss/conquest.scss */
.sidebar, .special a {
  margin: 0;
}

/* line 753, ../scss/conquest.scss */
#menu1 {
  float: right;
  top: 0;
  bottom: 0;
  width: 78%;
  right: 0;
  height: 100%;
  height: 650px;
  position: absolute;
  z-index: 1000;
}

/* line 766, ../scss/conquest.scss */
.left-1 {
  background-color: blue;
  width: 33.3%;
  height: 650px;
  float: left;
}

/* line 772, ../scss/conquest.scss */
.left-1 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 777, ../scss/conquest.scss */
.left-2 {
  background-color: green;
  height: 650px;
  width: 33.3%;
  float: left;
}

/* line 784, ../scss/conquest.scss */
.left-2 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
}

/* line 789, ../scss/conquest.scss */
.left-3 {
  background-color: yellow;
  height: 650px;
  width: 33.3%;
  float: right;
}

/* line 796, ../scss/conquest.scss */
.left-3 img {
  bottom: 0;
  height: 100%;
  background-size: cover;
  margin-left: -1px;
}

/* line 802, ../scss/conquest.scss */
.div7 > .taste {
  width: 60%;
  height: 15%;
  position: absolute;
  z-index: 100;
  margin-top: -268px;
  margin-left: 50px;
}

/* line 810, ../scss/conquest.scss */
.div4 > .conquer-me {
  width: 25%;
  height: 25%;
}

/* line 814, ../scss/conquest.scss */
.div2 > .hist9 {
  width: 50%;
  height: 30%;
  margin-left: 52px;
  margin-top: 100px;
  position: absolute;
}

/* line 821, ../scss/conquest.scss */
.div2 > .history1 {
  width: 50%;
  margin: 0 auto;
  height: 30%;
}

/* line 826, ../scss/conquest.scss */
.beers {
  height: 650px;
}

/* line 829, ../scss/conquest.scss */
.beer-holder {
  width: 45%;
  float: left;
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  height: 100%;
}

/* line 835, ../scss/conquest.scss */
.div4 > .beers-pic {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60%;
  height: 14%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 845, ../scss/conquest.scss */
.div6 > .findus {
  display: block;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 8%;
  text-align: center;
  margin-top: -450px;
  margin-left: 20%;
}

/* line 855, ../scss/conquest.scss */
.div2 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 865, ../scss/conquest.scss */
.div6 > .history {
  display: block;
  position: absolute;
  z-index: 100;
  width: 20%;
  height: 30%;
  text-align: center;
  margin-left: 135px;
  margin-top: 25%;
}

/* line 876, ../scss/conquest.scss */
.row > .seasonal, .year-round, .imperials {
  background: url("../conquest-img/bar12.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  text-align: center;
  margin-top: -14px;
  background-size: cover;
}

/* line 889, ../scss/conquest.scss */
.sidebar {
  background-color: black;
  position: absolute;
  z-index: 2000;
  float: left;
  position: fixed;
  width: 260px;
  height: 100%;
  max-width: 280px;
  text-align: center;
  left: 0;
  top: 0;
}
/* line 901, ../scss/conquest.scss */
.sidebar a {
  font-family: din-condensed;
  color: #ddd7d7;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
}
/* line 914, ../scss/conquest.scss */
.sidebar img {
  width: 65%;
  margin: 0 auto;
}
/* line 918, ../scss/conquest.scss */
.sidebar ul {
  width: 100%;
  text-align: center;
  margin-top: -40px;
}
/* line 925, ../scss/conquest.scss */
.sidebar li {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  margin-right: 50px;
}
/* line 932, ../scss/conquest.scss */
.sidebar nav {
  text-align: center;
}

/* line 938, ../scss/conquest.scss */
.hist10 {
  position: absolute;
  z-index: 1000;
  margin-top: -220px;
  width: 35%;
  margin-left: 100px;
}

/* line 947, ../scss/conquest.scss */
.overlay3 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
  float: right;
  width: 100%;
}

/* line 960, ../scss/conquest.scss */
.overlay {
  display: block;
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
}

/* line 977, ../scss/conquest.scss */
.overlay2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  opacity: 0.5;
}

@media screen and (min-width: 650px) {
  /* line 991, ../scss/conquest.scss */
  .my-slider {
    height: 500px;
  }

  /* line 995, ../scss/conquest.scss */
  .unslider-arrow.next {
    left: auto;
    right: 20px;
    background: url("../conquest-img/right.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 20%;
  }

  /* line 1005, ../scss/conquest.scss */
  .unslider-arrow.prev {
    margin-top: -650px;
    background: url("../conquest-img/left.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
  }

  /* line 1016, ../scss/conquest.scss */
  #deralt {
    width: 80%;
    margin-left: 200px;
  }
  /* line 1020, ../scss/conquest.scss */
  #deralt img {
    max-width: 100px;
  }

  /* line 1025, ../scss/conquest.scss */
  .beer-page {
    width: 90%;
    margin: 0 auto;
  }

  /* line 1032, ../scss/conquest.scss */
  .beer-page-left {
    width: 45%;
    float: left;
  }

  /* line 1037, ../scss/conquest.scss */
  .beer-page-right {
    width: 45%;
    float: right;
  }
  /* line 1041, ../scss/conquest.scss */
  .beer-page-right img {
    width: 10%;
    position: absolute;
    z-index: 2;
    margin-top: -208px;
  }

  /* line 1051, ../scss/conquest.scss */
  .medusa-header {
    padding: 40px;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  /* line 1060, ../scss/conquest.scss */
  .medusa-header div {
    width: 50%;
    margin-left: 10px;
  }
  /* line 1066, ../scss/conquest.scss */
  .medusa-header h1 {
    color: white;
  }

  /* line 1074, ../scss/conquest.scss */
  .overlay-bottom {
    display: none;
  }

  /* line 1080, ../scss/conquest.scss */
  .hist10 {
    position: absolute;
    z-index: 1000;
    margin-top: 100px;
    width: 60%;
    margin-left: 70px;
  }

  /* line 1089, ../scss/conquest.scss */
  .my-knight {
    width: 100%;
  }

  /* line 1096, ../scss/conquest.scss */
  .button-text {
    position: absolute;
    z-index: 100;
    width: 50%;
    margin-top: 170px;
    margin-left: 150px;
  }
  /* line 1102, ../scss/conquest.scss */
  .button-text p {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 1.5em;
  }

  /* line 1111, ../scss/conquest.scss */
  .div6 > .findus {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 20%;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
  }

  /* line 1125, ../scss/conquest.scss */
  .blurred {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }

  /* line 1133, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 200px;
  }

  /* line 1147, ../scss/conquest.scss */
  .div2 > .hist9 {
    width: 50%;
    height: 30%;
    margin-left: 52px;
    margin-top: 200px;
    position: absolute;
  }

  /* line 1157, ../scss/conquest.scss */
  .my-knight {
    max-height: none;
  }

  /* line 1161, ../scss/conquest.scss */
  .tab-content {
    float: none;
    margin: 0 auto;
  }

  /* line 1170, ../scss/conquest.scss */
  #beers-season img {
    display: inline-block;
    border: 0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    margin-bottom: 25px;
  }

  /* line 1190, ../scss/conquest.scss */
  #beers-season img:hover {
    z-index: 2;
    -webkit-transition: all 600ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 600ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 600ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 900ms ease-in;
    transform: scale(1.2);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 84%);
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  /* line 1215, ../scss/conquest.scss */
  .beer-left {
    width: 33%;
    float: left;
  }
  /* line 1219, ../scss/conquest.scss */
  .beer-left img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1225, ../scss/conquest.scss */
  .beer-middle {
    width: 33%;
    float: left;
  }
  /* line 1229, ../scss/conquest.scss */
  .beer-middle img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1235, ../scss/conquest.scss */
  .beer-right {
    width: 33%;
    float: right;
  }
  /* line 1239, ../scss/conquest.scss */
  .beer-right img {
    width: 100%;
    max-width: 100px;
  }

  /* line 1245, ../scss/conquest.scss */
  .menu-link {
    display: none;
  }

  /* line 1251, ../scss/conquest.scss */
  .second-nav {
    display: block;
  }

  /* line 1255, ../scss/conquest.scss */
  .tab-content {
    float: right;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  /* line 1266, ../scss/conquest.scss */
  .button-text {
    position: absolute;
    z-index: 100;
    width: 50%;
    margin-top: 170px;
    margin-left: 150px;
  }
  /* line 1272, ../scss/conquest.scss */
  .button-text p {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 1.5em;
  }

  /* line 1278, ../scss/conquest.scss */
  .div6 > .findus {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60%;
    height: 15%;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  /* line 1290, ../scss/conquest.scss */
  .beer-row {
    float: right;
    width: 79%;
  }

  /* line 1295, ../scss/conquest.scss */
  .sidebar img {
    width: 65%;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-left: 34px;
  }

  /* line 1303, ../scss/conquest.scss */
  img {
    max-width: none;
    max-height: none;
  }

  /* line 1307, ../scss/conquest.scss */
  .div4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* line 1315, ../scss/conquest.scss */
  .div2:hover .overlay {
    opacity: 0;
  }

  /* line 1319, ../scss/conquest.scss */
  .div4:hover .overlay {
    opacity: 0;
  }

  /* line 1322, ../scss/conquest.scss */
  .div6:hover .overlay2 {
    opacity: 0;
  }

  /* line 1325, ../scss/conquest.scss */
  .div7:hover .overlay2 {
    opacity: 0;
  }

  /* line 1328, ../scss/conquest.scss */
  .div8:hover .overlay3 {
    opacity: 0;
  }

  /* line 1331, ../scss/conquest.scss */
  .div9:hover .overlay3 {
    opacity: 0;
  }

  /* line 1334, ../scss/conquest.scss */
  .overlay3 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    float: right;
    width: 100%;
  }

  /* line 1347, ../scss/conquest.scss */
  .overlay6 {
    display: block;
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    max-height: 500px;
  }

  /* line 1367, ../scss/conquest.scss */
  .overlay2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
  }

  /* line 1378, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -14px;
    position: absolute;
    overflow: hidden;
  }

  /* line 1387, ../scss/conquest.scss */
  .div4 > .hist9 {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 1398, ../scss/conquest.scss */
  .div4:hover > .hist9 {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 1407, ../scss/conquest.scss */
  .div2 > .my-knight {
    -o-transition: .5s ease-in-out;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -o-transition: all 1s ease;
    /* IE 9 */
    -ms-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    overflow: auto;
  }

  /* line 1418, ../scss/conquest.scss */
  .div2:hover > .my-knight {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    max-width: 100%;
  }

  /* line 1426, ../scss/conquest.scss */
  .div4 {
    background-size: cover;
    margin-top: -14px;
    position: absolute;
    height: 50%;
    background-size: cover;
    overflow: hidden;
  }

  /* line 1436, ../scss/conquest.scss */
  .div6 {
    repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  /* line 1442, ../scss/conquest.scss */
  .div7 {
    repeat: no-repeat;
    background-size: cover;
    margin-top: -14px;
    padding-bottom: 30%;
    position: relative;
  }

  /* line 1449, ../scss/conquest.scss */
  .div6 img {
    width: 100%;
    height: 100%;
  }

  /* line 1453, ../scss/conquest.scss */
  .div7 img {
    width: 100%;
    height: 100%;
  }

  /* line 1457, ../scss/conquest.scss */
  .div8 {
    float: right;
    width: 100%;
    position: relative;
  }

  /* line 1462, ../scss/conquest.scss */
  .div9 {
    float: right;
    width: 79%;
    position: relative;
  }

  /* line 1467, ../scss/conquest.scss */
  .div9 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 1470, ../scss/conquest.scss */
  .div9 img {
    width: 100%;
  }

  /* line 1474, ../scss/conquest.scss */
  .div8 img:hover {
    transform: scale 1.5, 1.5;
  }

  /* line 1477, ../scss/conquest.scss */
  .div8 img {
    width: 100%;
  }

  /* line 1481, ../scss/conquest.scss */
  .sidebar {
    display: block;
    background-color: black;
    float: left;
    position: fixed;
    width: 200px;
    height: 100%;
    max-width: 280px;
    text-align: center;
    left: 0;
    top: 0;
  }
  /* line 1492, ../scss/conquest.scss */
  .sidebar a {
    font-family: din-condensed;
    color: #ddd7d7;
    text-transform: uppercase;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
  }
  /* line 1505, ../scss/conquest.scss */
  .sidebar ul {
    width: 100%;
    text-align: center;
    margin-top: -40px;
    margin-bottom: -10px;
  }
  /* line 1513, ../scss/conquest.scss */
  .sidebar li {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    margin-right: 50px;
  }
  /* line 1520, ../scss/conquest.scss */
  .sidebar nav {
    text-align: center;
  }

  /* line 1524, ../scss/conquest.scss */
  .div2 {
    repeat: no-repeat;
    background-size: cover;
    width: 46%;
    float: left;
    height: 100%;
    float: left;
    position: absolute;
    padding-bottom: 0%;
    margin-top: 0px;
    top: 0;
    bottom: 0;
    margin-top: -0px;
  }

  /* line 1539, ../scss/conquest.scss */
  .div2 > .my-knight {
    position: absolute;
    height: 100%;
  }

  /* line 1543, ../scss/conquest.scss */
  .div3 {
    float: right;
    width: 55%;
    background-color: blue;
    position: relative;
    height: 100%;
  }

  /* line 1550, ../scss/conquest.scss */
  .inner-content {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 200px;
  }

  /* line 1560, ../scss/conquest.scss */
  .div4 {
    background-color: tan;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    right: 0;
    top: 0;
    left: 0;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1572, ../scss/conquest.scss */
  .div5 {
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    height: 50%;
  }

  /* line 1582, ../scss/conquest.scss */
  .div6 {
    float: none;
    width: 100%;
    background-color: blue;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1590, ../scss/conquest.scss */
  .div7 {
    float: none;
    width: 100%;
    background-color: green;
    height: 50%;
    padding-bottom: 0%;
    margin-top: 50%;
  }
}
/*end of 600 */
@media screen and (min-width: 900px) {
  /* line 1601, ../scss/conquest.scss */
  #slider {
    width: 250px;
  }

  /* line 1606, ../scss/conquest.scss */
  .sidebar img {
    margin-left: 0px;
  }

  /* line 1610, ../scss/conquest.scss */
  .box-left {
    width: 33%;
    float: left;
    border-right: 1px solid black;
  }

  /* line 1616, ../scss/conquest.scss */
  .div6 {
    float: left;
    width: 50%;
    background-color: blue;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1624, ../scss/conquest.scss */
  .div7 {
    float: right;
    width: 50%;
    background-color: green;
    height: 100%;
    padding-bottom: 0%;
    margin-top: 0px;
  }

  /* line 1633, ../scss/conquest.scss */
  #medusa {
    width: 84%;
    margin-left: 200px;
  }

  /* line 1638, ../scss/conquest.scss */
  #artemis {
    width: 84%;
    margin-left: 200px;
  }
}
/*end of 800 */
@media screen and (min-width: 1050px) {
  /* line 1648, ../scss/conquest.scss */
  .my-slider {
    min-height: 750px;
  }

  /* line 1654, ../scss/conquest.scss */
  #deralt {
    width: 80%;
    margin-left: 260px;
  }
  /* line 1658, ../scss/conquest.scss */
  #deralt img {
    max-width: 200px;
  }

  /* line 1668, ../scss/conquest.scss */
  #medusa {
    width: 84%;
    margin-left: 260px;
  }

  /* line 1673, ../scss/conquest.scss */
  #beers {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 260px;
  }

  /* line 1686, ../scss/conquest.scss */
  #menu2 {
    position: absolute;
    background: url("../conquest-img/bar.jpeg") no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 82%;
    margin-left: 260px;
    background-size: cover;
  }

  /* line 1701, ../scss/conquest.scss */
  #menu3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 82%;
    margin-left: 260px;
    background-size: cover;
  }

  /* line 1717, ../scss/conquest.scss */
  .sidebar {
    width: 260px;
  }

  /* line 1721, ../scss/conquest.scss */
  .inner-content {
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0%;
    margin-left: 260px;
  }
}
/*end of 800 */
@media screen and (min-width: 1050px) {
  /* line 1744, ../scss/conquest.scss */
  .unslider-arrow.next {
    left: auto;
    right: 20px;
    background: url("../conquest-img/right.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
  }

  /* line 1753, ../scss/conquest.scss */
  .unslider-arrow.prev {
    margin-top: -650px;
    background: url("../conquest-img/left.png") no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    margin-left: 25px;
  }
}
/*end of 800 */
