/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 3, ../scss/father.scss */
.clearfix {
  zoom: 1;
}
/* line 5, ../scss/father.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/father.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 17, ../scss/father.scss */
.top-left > .overlay-1 a {
  color: white;
  text-decoration: none;
  position: absolute;
  display: block;
  text-align: center;
  text-align: center;
  margin-top: 50px;
}

/* line 32, ../scss/father.scss */
.top-left-second {
  position: relative;
}

/* line 36, ../scss/father.scss */
.top-right-second {
  position: relative;
}

/* line 41, ../scss/father.scss */
.foot1 {
  width: 90%;
  margin: 0 auto;
}

/* line 46, ../scss/father.scss */
.row > .end {
  border-right: none;
}

/* line 51, ../scss/father.scss */
.overlay-2 {
  position: absolute;
  bottom: 0;
}
/* line 55, ../scss/father.scss */
.overlay-2 p {
  color: white;
}

/* line 60, ../scss/father.scss */
.overlay-2 {
  display: none;
}

/* line 64, ../scss/father.scss */
.overlay-1 p {
  display: none;
}

/* line 69, ../scss/father.scss */
.top-right-second:hover > .overlay-1 > p {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  width: 80%;
  margin: 0 auto;
}

/* line 83, ../scss/father.scss */
.top-right-second:hover > .overlay-1 {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  opacity: 1.5;
  color: white;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 100%;
}

/* line 103, ../scss/father.scss */
.top-left-second:hover > .overlay-1 > p {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  width: 80%;
  margin: 0 auto;
}

/* line 116, ../scss/father.scss */
.top-left-second:hover > .overlay-1 {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  opacity: 1.5;
  color: white;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 100%;
}

/* line 135, ../scss/father.scss */
.top-left:hover > .overlay-1 p {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  color: white;
}

/* line 149, ../scss/father.scss */
.top-left:hover > .overlay-1 {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  opacity: 0.8;
  color: white;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 100%;
}
/* line 163, ../scss/father.scss */
.top-left:hover > .overlay-1 h1 {
  margin-top: 15%;
  font-size: 3.0em;
}

/* line 170, ../scss/father.scss */
.top-right:hover > .overlay-1 > p {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  width: 80%;
  margin: 0 auto;
}

/* line 183, ../scss/father.scss */
.top-right:hover > .overlay-1 {
  display: block;
  background-color: #E74C3C;
  position: absolute;
  opacity: 1.5;
  color: white;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  height: 100%;
}

/* line 205, ../scss/father.scss */
.overlay-1 {
  position: absolute;
  background-color: #E74C3C;
  opacity: 0.7;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 50px;
  transition: height 1s linear;
}
/* line 215, ../scss/father.scss */
.overlay-1 h1 {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  font-size: 2.0em;
}
/* line 224, ../scss/father.scss */
.overlay-1 p {
  font-family: 'Lato',sans-serif;
  font-size: 1.7em;
  color: white;
}

/* line 239, ../scss/father.scss */
.form-group {
  width: 100%;
}

/* line 243, ../scss/father.scss */
.form-control {
  width: 100%;
  margin-bottom: 25px;
}

/* line 248, ../scss/father.scss */
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* line 259, ../scss/father.scss */
.second-text {
  float: right;
  width: 45%;
}

/* line 265, ../scss/father.scss */
.special {
  width: 90%;
  margin-top: 50px;
}

/* line 271, ../scss/father.scss */
.first-text {
  width: 45%;
  float: left;
}
/* line 277, ../scss/father.scss */
.first-text ul {
  padding: 0px;
}
/* line 282, ../scss/father.scss */
.first-text li {
  margin-bottom: 10px;
  color: white;
  font-family: 'Lato',sans-serif;
  font-size: 1.4em;
  list-style-type: none;
  text-align: center;
}

/* line 293, ../scss/father.scss */
.faq {
  font-size: 1.7em;
  color: white;
  font-family: 'Lato',sans-serif;
}
/* line 298, ../scss/father.scss */
.faq li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}

/* line 306, ../scss/father.scss */
.special {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* line 312, ../scss/father.scss */
.special p {
  color: white;
  font-size: 1.7em;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}
/* line 321, ../scss/father.scss */
.special button {
  width: 50%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  background: #E74C3C;
  padding: 8px 20px;
  box-shadow: 0px 0px 25px #000;
}

/* line 339, ../scss/father.scss */
.bottom {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 345, ../scss/father.scss */
.bottom p {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  width: 90%;
  margin: 0 auto;
}

/* line 355, ../scss/father.scss */
.footer {
  background-color: #2980B9;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 365, ../scss/father.scss */
.find {
  background-color: #E74C3C;
  padding: 5px 0px;
  margin: 0;
  border: 1px solid #d9d9da;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
/* line 375, ../scss/father.scss */
.find h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.0em;
}
/* line 380, ../scss/father.scss */
.find input {
  width: 90%;
  margin: 0 auto;
}

/* line 388, ../scss/father.scss */
.find-program {
  width: 100%;
  text-align: center;
}
/* line 391, ../scss/father.scss */
.find-program select {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  font-size: 4.0em;
  text-align: center;
}
/* line 398, ../scss/father.scss */
.find-program option {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  height: 100px;
  text-align: center;
}

/* line 409, ../scss/father.scss */
.top-left p {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: white;
}

/* line 416, ../scss/father.scss */
.top-right p {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: white;
}

/* line 425, ../scss/father.scss */
.program-text {
  background-color: #ECF0F1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 432, ../scss/father.scss */
.program-text h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.0em;
  color: #3498DB;
}

/* line 442, ../scss/father.scss */
.row {
  text-align: center;
  margin-top: 25px;
}
/* line 446, ../scss/father.scss */
.row h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}
/* line 453, ../scss/father.scss */
.row div {
  border-right: none;
}
/* line 456, ../scss/father.scss */
.row p {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}
/* line 462, ../scss/father.scss */
.row li {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

/* line 468, ../scss/father.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* line 473, ../scss/father.scss */
.top-left {
  text-align: center;
  background: url(../img/father1.jpg) no-repeat 0 0;
  padding-bottom: 30%;
  background-size: cover;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}

/* line 484, ../scss/father.scss */
.top-right {
  background: url(../img/father3.jpg) no-repeat 0 0;
  padding-bottom: 30%;
  background-size: cover;
  margin-bottom: 15px;
  position: relative;
}

/* line 493, ../scss/father.scss */
.top-left-second {
  background: url(../img/father5.jpg) no-repeat 0 0;
  padding-bottom: 30%;
  background-size: cover;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 502, ../scss/father.scss */
.top-right-second {
  background: url(../img/father-4.jpg) no-repeat 0 0;
  padding-bottom: 30%;
  background-size: cover;
  margin-bottom: 15px;
}

/* line 515, ../scss/father.scss */
.logo {
  width: 25%;
  max-width: 100px;
}

/* line 520, ../scss/father.scss */
.hide-me li:hover, .hide-me li:focus {
  background-color: white;
  color: blue;
  width: 100%;
}

/* line 527, ../scss/father.scss */
.hide-me {
  padding-top: 50px;
  width: 100%;
}
/* line 530, ../scss/father.scss */
.hide-me li {
  list-style-type: none;
  text-align: center;
  width: 100%;
}
/* line 535, ../scss/father.scss */
.hide-me a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

/* line 544, ../scss/father.scss */
.desktop-nav {
  background-color: #2980B9;
  padding-top: 20px;
}
/* line 548, ../scss/father.scss */
.desktop-nav ul {
  float: right;
}

/* line 555, ../scss/father.scss */
.toggle-me {
  float: right;
  width: 25%;
  max-width: 40px;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 10px;
}

/* line 565, ../scss/father.scss */
.desk {
  display: none;
}

/* line 568, ../scss/father.scss */
.main-pic {
  position: relative;
  text-align: center;
  background: url(../img/mainpic2.jpg) no-repeat 0 0;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  padding-top: 5%;
  padding-bottom: 10%;
  opacity: 2.5;
  margin-top: -0px;
}
/* line 579, ../scss/father.scss */
.main-pic h1 {
  text-align: center;
  display: block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800px;
  font-size: 3.0em;
  text-shadow: 0px 0px 10px #000;
  -webkit-font-smoothing: antialiased;
}
/* line 589, ../scss/father.scss */
.main-pic p {
  color: white;
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 10px #000;
}
/* line 595, ../scss/father.scss */
.main-pic button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
  background: #E74C3C;
  padding: 8px 20px;
  box-shadow: 0px 0px 25px #000;
}

/* line 609, ../scss/father.scss */
.left {
  background: url(../img/mainpic2.jpg) no-repeat 0 0;
  padding-bottom: 20%;
}

@media screen and (min-width: 600px) {
  /*end of 600 */
}
@media screen and (min-width: 800px) {
  /* line 623, ../scss/father.scss */
  .overlay-2 a {
    color: white;
  }

  /* line 628, ../scss/father.scss */
  .top-right:hover > .overlay-1 {
    display: block;
    background-color: #E74C3C;
    position: absolute;
    opacity: 1.5;
    color: white;
    max-height: 500px;
    /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    height: 100%;
  }

  /* line 653, ../scss/father.scss */
  .foot1 {
    width: 63.6%;
    float: left;
    margin-top: 20px;
  }

  /* line 658, ../scss/father.scss */
  .footer > .special {
    float: right;
    width: 33%;
    margin-right: 25px;
  }

  /* line 664, ../scss/father.scss */
  .form-control {
    width: 100%;
  }

  /* line 669, ../scss/father.scss */
  .footer {
    background-color: #2980B9;
    padding-top: 50px;
    padding-bottom: 330px;
    width: 70%;
    margin: 0 auto;
  }

  /* line 680, ../scss/father.scss */
  .first-text {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  /* line 685, ../scss/father.scss */
  .special {
    width: 33.3%;
  }

  /* line 689, ../scss/father.scss */
  .second-text {
    width: 33.3%;
  }

  /* line 695, ../scss/father.scss */
  .desk {
    display: inline-block;
  }

  /* line 699, ../scss/father.scss */
  .hide-me {
    display: none;
  }

  /* line 704, ../scss/father.scss */
  .row {
    text-align: center;
    margin-top: 25px;
    background-color: white;
  }
  /* line 709, ../scss/father.scss */
  .row h2 {
    text-align: center;
    font-size: 2.5em;
  }
  /* line 714, ../scss/father.scss */
  .row div {
    border-right: 1px solid black;
  }
  /* line 717, ../scss/father.scss */
  .row p {
    font-size: 1.5em;
  }

  /* line 724, ../scss/father.scss */
  .toggle-me {
    display: none;
  }

  /* line 728, ../scss/father.scss */
  .top-left {
    width: 50%;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /* line 735, ../scss/father.scss */
  .top-right {
    width: 50%;
    float: right;
    margin-bottom: 0px;
  }

  /* line 741, ../scss/father.scss */
  .top-left-second {
    width: 50%;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /* line 748, ../scss/father.scss */
  .top-right-second {
    width: 50%;
    float: right;
    margin-bottom: 0px;
    position: relative;
  }

  /* line 759, ../scss/father.scss */
  .head-wrap {
    display: block;
  }

  /* line 765, ../scss/father.scss */
  body {
    background: url(../img/pattern1.jpg) no-repeat 0 0;
    background-size: cover;
  }

  /* line 772, ../scss/father.scss */
  .text-box {
    width: 42%;
    float: right;
    margin-top: 50px;
  }

  /* line 777, ../scss/father.scss */
  .wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: white;
  }

  /* line 784, ../scss/father.scss */
  .main-pic {
    position: relative;
    text-align: center;
    background: url(../img/mainpic2.jpg) no-repeat 0 0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 2.5;
    width: 70%;
    margin: 0 auto;
  }
  /* line 796, ../scss/father.scss */
  .main-pic h1 {
    text-align: center;
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800px;
    font-size: 3.0em;
    text-shadow: 0px 0px 10px #000;
    -webkit-font-smoothing: antialiased;
  }

  /* line 808, ../scss/father.scss */
  .top-wrap {
    width: 90%;
    margin: 0 auto;
  }

  /* line 813, ../scss/father.scss */
  .bottom {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 819, ../scss/father.scss */
  .bottom p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    width: 70%;
    margin: 0 auto;
  }

  /* line 831, ../scss/father.scss */
  .desktop-nav {
    top: 0px;
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
  }
  /* line 837, ../scss/father.scss */
  .desktop-nav ul {
    display: block;
    margin-top: -40px;
  }
  /* line 842, ../scss/father.scss */
  .desktop-nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
  }
  /* line 848, ../scss/father.scss */
  .desktop-nav a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
}
/*end of 800 */
/*end of 1000 */
/*end of 1000 */
