/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}



@media screen and (min-width: 800px) {
  /* line 49, ../scss/style.scss */
  
}
/*end of 800 */
/*end of 1000 */
/*end of 1000 */
/*end of 1000 */
