/*font-family: 'Roboto Condensed', sans-serif; */
/*font-family: 'Oswald', sans-serif; */

@font-face {
font-family: din-condensed-Black;
src: url('../fonts/din-pro-cond/DINPro-Black.otf');

}
@font-face {
font-family: din-condensed-regular;
src: url('../fonts/din-pro-cond/DINPro.otf');

}


@font-face {
font-family: din-condensed-bold;
src: url('../fonts/din-pro-cond/DINPro-CondBold.otf');

}


@font-face {
font-family: din-condensed;
src: url('../fonts/din-pro-cond/DINPro-Cond.otf');

}



.inside-wrap{
	
	width:50%;
	margin-left:50px;
	margin-top:-50px;
	margin-bottom:50px;
	padding:1em;


	.text-holder{
		margin-top: -50px;
	}
	

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 2.5em;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;

	}
	p{
		color: black;
		font-family: din-condensed;
		font-size: 18px;
	}
}











  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: url("../conquest-img/mod-back.png") no-repeat center center;
    background-size: cover;

    h1{
    	color:white !important;
    	text-shadow: 2px 2px black;
    }
    p{
    font-family: din-condensed;
    }

  }


footer{
	background-color:gray;

	p{
		color:white;
		font-family: din-condensed;
		font-size: 16px;
	}

	li{
		list-style-type: none;
		color: white;
		font-size: 16px;
			font-family: din-condensed;
	}
}

.btn-reed{
	background-color:black ;
	transition: background-color 0.5s ease;
	font-family: din-condensed;
	font-size:24px;
	color:white;
	letter-spacing:2px;
}

.btn-reed:hover{
	background-color:white !important;
	color:black !important;
}


	.my-prog{
		font-family: din-condensed-bold;
		text-align: center;
		font-size: 38px;
		text-transform: uppercase;

	}
.inside-bottom{
	padding-top:50px;
	width:80%;
	margin:0 auto;

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 4.0em;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;

	}
	div{
		margin-top: 100px;
	}


}


.inside-wrap{
	
	width:50%;
	margin-left:50px;
	margin-top:150px;
	padding:1em;
	

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 3.5em;
		margin-bottom: 5px;
		margin-top: 5px;

	}
	.text-holder{
		margin-top: -100px;
	}
}



.headerwrap{
	margin-top:20px;
	width:90%;
	margin: 10px auto;
}



.socialul{
	display:none;
}


.back-img{
	width:100%;
	height:auto;
}


.header{
	display:block;
	width:100%;
	min-height:60px;
}

.logobox{
	display:block;
	float:left;

	height:50px;
	width:40%;
	cursor:pointer;

	img{
		max-width: 100px;
		max-height: 100px;
		 cursor:pointer;
	}

}


#trigger-overlay img{
	max-width:35px;
	max-height:35px;
	float:right;
	margin-top:5px;
}





.section.img-wrap{
	margin-top:-0px;
}




.col div{
float:none;
width:100%;
margin-top:70px;
img{
width: 80%;
margin-bottom: 30px;
}
}



.bottom-image{
background-size:contain;
background: url("../conquest-img/kidtry7.png") no-repeat center center;
  max-width: 100%;
  
right:0;
bottom:0;
top:0;
padding-right:50px;
margin-top:-20px;

margin-top:-50px;
height:400px;
}




.img-wrap{
background-size:contain;
background: url("../conquest-img/kidtry6.png") no-repeat center center;
  max-width: 100%;
    height: auto;
right:0;
bottom:0;
top:0;
padding-right:50px;
margin-top:-20px;
margin-top:-50px;

img{
width: 100%;

}

}


.img-color{
background-color:#094A65;
p{
color:white;
line-height: 31px;
font-family: din-condensed-regular;
font-weight: 500;
font-size: 22px;
}
h1{
font-family: din-condensed-bold;
font-size: 38px;
line-height: 36px;
font-weight: 500;
color: white;
text-transform: uppercase;
margin-top: 0px;
}
}


.span_2_of_2 {
width: 100%;
}
.span_1_of_2 {
width: 48%;
}

.prog{
h1{
font-family: din-condensed-bold;
font-size: 22px;
line-height: 26px;
font-weight: 500;
color:black;
text-transform:uppercase;
margin-bottom:-10px;
}
p{
font-family: 'Roboto Condensed', sans-serif;

font-size:16px;
color:black;
}

img{
width: 100%;
}
}

/*  SECTIONS  */
.section {
clear: both;
padding: 0px;
margin: 0px;
}
/*  COLUMN SETUP  */
.col {
display: block;
float:left;
margin: 1% 0 1% 4.0%;
}
.col:first-child { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65.33%; }
.span_1_of_3 { width: 30.66%; }
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
.col {  margin: 1% 0 1% 0%; }
.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
.span_2_of_2, .span_1_of_2 { width: 100%; }
}
.row2{
padding:2em;
margin-bottom:25px;
}
.row3{
	padding:2em;
}
.row1{
padding:2em;
}



#trigger-overlay{
	display:block;
}


.secondul{
	display:none;
}

@media (min-width: 650px) {

	.my-prog{
		font-family: din-condensed-bold;
		text-align: center;
		font-size: 38px;

	}


.img-color{
	padding-top:50px;
	margin-bottom:25px;
	padding-bottom:50px;
}


.headerwrap{
	margin-top:20px;
	width:90%;
	margin: 10px auto;
}






.section.img-wrap{
	margin-top:-0px;
}




.img-wrap{
background-size:cover;
background: url("../conquest-img/kidtry6.png") no-repeat center center;
height:auto;
width: 100%;
right:0;
bottom:0;
top:0;
min-height:500px;
margin-top:-20px;

text-align:center;


}

.inside-wrap{
	
	width:50%;
	margin-left:50px;
	margin-top:100px;
	padding:1em;
	

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 5.5em;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;

	}
	p{
		color: black;
		font-family: din-condensed;
		font-size: 24px;
	}
	.text-holder{
		margin-top: 0px;
	}
}


.inside-bottom{
	text-align:center;



	div{
		margin-top: 0px;
		width: 50%;
	}

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 5.5em;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;
	}
	p{
		color: black;
		font-family: din-condensed;
		font-size: 24px;
	}

}



} /*end of 680 */

@media (min-width: 800px) {


.modal-content form{
	width:75%;
	margin:0 auto;
}


.namebox{
clear:none !important;
display:inline-block;

div{
	clear:none !important;
}
}

.mod-bottom{
	padding-bottom:20px;
	width:50%;
	margin:0 auto;

	input{
		width:100%;
		background-color:black;
		color: white;
		text-transform: uppercase;
	}
	button{
		width: 100%;
		background-color:white;
		color: black;
		text-transform: uppercase;
	}

}


	.mod-left{
		float: left;
		width: 45%;
	}

	.mod-right{
		float: right;
		width: 45%;
	}

	.nametext{
		width: 45%;
		float: left;

		p{
			margin-top: -5px;
			margin-left: 45px;
		}
	}

.name{
	width:45%;
	float:right;


input{
	width:100%;
}

}


.donate{
	display:inline-block;
	margin-top:-30px;


	.box1{
		margin-top: 30px !important;
	}
}


.donate-left{
	width:45%;
	float:left;
}

.radio{
	width:45%;
	float:right;
	clear:none !important;
}








.secondul{
	display:block;

	li{
		float: left;
		list-style-type: none;

	}
	a{
		color: black;
		margin-left: 10px;
		text-decoration: none;
		font-family: din-condensed;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;

	}
}



#trigger-overlay{
	display:none;
}



.socialul{
	display:block;

	width: 50%;
    float: right;
    margin-top: -57px;
    margin-right: 20px;

	li{
		float: right;
		list-style-type: none;
	
		width: 5%;
		margin-right: 10px;
	}

	img{
		width: 100%;
		max-width: 100px;
	}
}








.row1{
width: 80%;
margin: 0 auto;
}
.row3{
width: 80%;
margin: 0 auto;
}

.row2{
width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:25px;
}
.col div{
float:right;
width:100%;
margin-top:70px;
img{
width: 80%;
margin-bottom: 30px;
}
}
.inside-wrap{
	
	width:50%;
	margin-left:50px;
	margin-top:100px;
	padding:1em;
	

	h1{
		color: black;
		font-family: din-condensed-bold;
		font-size: 5.5em;
		margin-bottom: 5px;
		margin-top: 5px;
		text-transform: uppercase;

	}
	p{
		color: black;
		font-family: din-condensed;
		font-size: 24px;
	}
	.text-holder{
		margin-top: 0px;
	}
}




} /*end of 880 */

@media (min-width: 1000px) {


}

@media (min-width: 1200px) {}














