/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix {
zoom: 1;
&:before, &:after {
content: "";
display: table;
}
&:after {
clear: both;
}
}
/***** SITE STYLES *************/
/**********************************/



.div7 > .taste{
	width:50%;
	height:15%;
	position:absolute;
	z-index:100;
	margin-top:-268px;
	margin-left:50px;

}



.div4 > .conquer-me{
	width:25%;
	height:25%;
}


.div2 >.hist9{
	width:50%;
	height:30%;
	margin-left:100px;
	margin-top:100px;

}

.div2 >.history1{
	width:50%;
	margin: 0 auto;
	height:30%;
}


.beer-holder{
	width:45%;
	float:left;
	background: url('../conquest-img/bar12.jpg') no-repeat center center;
	height:100%;
}

.div4 >.beers-pic{
	display:block;
	position:absolute;
	z-index:100;
	width:60%;
	height:14%;
	text-align:center;
	margin-left:135px;
	margin-top:25%;
}


.div6 >.findus{
	display:block;
	position:absolute;
	z-index:100;
	width:50%;
	height:20%;
	text-align:center;
	margin-top:20%;
	margin-left:20%;
}






.div2 >.history{
	display:block;
	position:absolute;
	z-index:100;
	width:20%;
	height:30%;
	text-align:center;
	margin-left:135px;
	margin-top:25%;
}


.div6 >.history{
	display:block;
	position:absolute;
	z-index:100;
	width:20%;
	height:30%;
	text-align:center;
	margin-left:135px;
	margin-top:25%;
}




img{
	width:100%;
	display:block;
}



body{
	background-color:black;
}

.sidebar{
	display:none;
}

.row >.seasonal ,.year-round, .imperials {
    background: url('../conquest-img/bar12.jpg') no-repeat center center;
  background-size:cover;
  height: 100%;
  text-align: center;

		margin-top: -14px;
	
			background-size:cover;

}




@media screen and (min-width: 600px) {

.button-text{
	position:absolute;
	z-index:100;
	width:50%;
	margin-top:170px;
	margin-left:150px;
	p{
		color: white;
		font-family: 'Bitter', serif;
		font-size: 1.5em;
	}
}


.div6 >.findus{
	display:block;
	position:absolute;
	z-index:100;
	width:60%;
	height:15%;
	text-align:center;
	top:0;
	bottom:0;
	right:0;
	left:0;
}


.beer-row{
	float:right;
	width:79%;
	height:650px;
}


.sidebar img{
	width:75%;
	text-align:center;
	margin: 0 auto;
	padding-bottom:25px;
	margin-top:50px;
}

img{
	max-width:none;
	max-height:none;
}


.div2 img{
	position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;

}

.div4 img{
	position: absolute;
    top: 0;
    left: 0;
   width: 100%;
   height: 100%;

}


.div2:hover .overlay{
	opacity:0;
}

.div4:hover .overlay{
	opacity:0;
}

.div6:hover .overlay2{
	opacity:0;
}

.div7:hover .overlay2{
	opacity: 0;
}

.div8:hover .overlay3{

	opacity:0;
}

.div9:hover .overlay3{
	opacity: 0;
}

.overlay3{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    float: right;
    width: 100%;

}



.overlay{
	display: block;
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
	    background: url('../conquest-img/patternpng.png') no-repeat center center;
}

.overlay2{
display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    opacity: 0.5;
    	    background: url('../conquest-img/patternpng.png') no-repeat center center;

}





.div2{
	repeat:no-repeat;
	background-size:cover;
	width:100%;
	padding-bottom:20%;
	margin-top:-14px;
	position:absolute;
	    background: url('../conquest-img/mid-knight2.png') no-repeat center center;

}

.div4{

	background-size:cover;
		margin-top: -14px;
		position: absolute;
			height:50%;
			background-size:cover;

}


.div6:hover{

}

.div6{
	repeat:no-repeat;
	background-size:cover;
	position:absolute;
 
}

.div7{
	repeat:no-repeat;
	background-size:cover;
			margin-top: -14px;
		padding-bottom:30%;
		position:relative;


}
.div6 img{
	width:100%;
	height:100%;
}

.div7 img{
	width:100%;
	height:100%;
}






.div8{
	float:right;
	width:100%;
	position:relative;
}

.div9{
	float:right;
	width:79%;
	position:relative;
}



.div9 img:hover{
	transform:scale (1.5,1.5);

}




.div9 img{
max-height:300px;
width:100%;
}




.div8 img:hover{
	transform:scale (1.5,1.5);

}




.div8 img{
max-height:300px;
width:100%;
}


.sidebar{
	display:block;
	background-color:black;
float:left;
position:fixed;
width:21%;
height:100%;
max-width:280px;
text-align:center;

a{
	color:#ddd7d7;
font-family: 'Bitter', serif;
	text-transform:uppercase;

	font-size:1.5em;
	margin-left:-40px;
	
}
ul{
	
	width:70%;
	border-top:1px solid white;
	border-bottom:1px solid white;
	text-align:center;
	margin: 0 auto;
}

li{
	margin-bottom:20px;
	margin-top:20px;
	text-align:center;
	list-style-type:none;
}

nav{
	text-align:center;
}

}


.div2{
	repeat:no-repeat;
	background-size:cover;
	width:45%;
	float:left;
height:100%;
float:left;
position:absolute;
	padding-bottom:0%;
	margin-top: 0px;
	top:0;
	bottom:0;

	margin-top:-0px;
	    background: url('../conquest-img/midknight2.png') no-repeat center center;


}

.div3{
float:right;
width:55%;
background-color:blue;
position:relative;
height:650px;
}


.inner-content{
	float:right;
	width:79%;
	height:650px;
	position:relative;

}

.div4{
	background-color:tan;
    position:absolute;
	text-align: center;
  vertical-align:middle;
    right: 0;
	top:0;
	left:0;
	height:50%;
		padding-bottom:0%;
		margin-top: 0px;
}

.div5{
	background-color:gray;
text-align: center;
  vertical-align:middle;
	bottom:0;
	position:absolute;
	right:0;
	left:0;
	height:50%;


}

.div6{
	float:left;
	width:50%;
	background-color:blue;
    height: 100%;
    	padding-bottom:0%;
    	margin-top: 0px;
}


.div7{
	float:right;
	width:50%;
	background-color:green;
	height:100%;
		padding-bottom:0%;
		margin-top: 0px;
}


}/*end of 600 */


@media screen and (min-width: 800px) {

	 } /*end of 800 */


@media screen and (min-width: 1000px) {

	 } /*end of 800 */

@media screen and (min-width: 1000px) {

	 } /*end of 800 */

